<!-- subscribe -->
<div class="w3-subscribe agileits-w3layouts">
	<div class="container">
		<div class="col-md-6 social-icons w3-agile-icons">
			<h4>Join Us</h4>
			<ul>
				<li><a href="#" class="fa fa-facebook sicon facebook"> </a></li>
				<li><a href="#" class="fa fa-twitter sicon twitter"> </a></li>
				<li><a href="#" class="fa fa-google-plus sicon googleplus"> </a></li>
				<li><a href="#" class="fa fa-dribbble sicon dribbble"> </a></li>
				<li><a href="#" class="fa fa-rss sicon rss"> </a></li>
			</ul>
		</div>
		<div class="col-md-6 w3-agile-subscribe-right">
			<h3 class="w3ls-title">Subscribe to Our <br><span>Newsletter</span></h3>
			<form name="subscribeform" id="subscribeform" method="post">
				<input type="email" id="email" name="email" placeholder="Enter your Email..." required>
				<input type="submit" value="Subscribe" id="subscribe">
				<div class="clearfix"> </div>
			</form>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<script type="text/javascript">
  $(" #subscribeform #subscribe" ).click(function(){

  var elementId ="#subscribeform";
  var _email  = $(elementId+" #email").val();
  var data =
    {
      email         :   _email
    };
  $.post("php/subscribe.php",data, function(response){


    var jsonData = JSON.parse(response);

    if(jsonData.result == 1)
    {
      window.alert("You will receive frequent Newsletter");
    }
    else
    {
      window.alert("Try Again Later");
    }

  });
  });

</script>
<!-- //subscribe -->

<!--footer-->
<footer>
	<div class="container-fluid">
		<div class="w3-agile-footer-top-at">
			<div class="col-md-2 agileits-amet-sed">
				<h4>Company</h4>
				<ul class="w3ls-nav-bottom">
					<li><a href="about.html">About Us</a></li>
					<li><a href="support.html">Support</a></li>
					<li><a href="sitemap.html">Sitemap</a></li>
					<li><a href="terms.html">Terms & Conditions</a></li>
					<li><a href="faq.html">Faq</a></li>
					<li><a href="index.html#mobileappagileits">Mobile</a></li>
					<li><a href="feedback.html">Feedback</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="shortcodes.html">Shortcodes</a></li>
					<li><a href="icons.html">Icons Page</a></li>

				</ul>
			</div>
			<div class="col-md-3 agileits-amet-sed ">
				<h4>Mobile Recharges</h4>
				<ul class="w3ls-nav-bottom">
					<li><a href="index.html#parentVerticalTab1">Airtel</a></li>
					<li><a href="index.html#parentVerticalTab1">Aircel</a></li>
					<li><a href="index.html#parentVerticalTab1">Vodafone</a></li>
					<li><a href="index.html#parentVerticalTab1">BSNL</a></li>
					<li><a href="index.html#parentVerticalTab1">Tata Docomo</a></li>
					<li><a href="index.html#parentVerticalTab1">Reliance GSM</a></li>
					<li><a href="index.html#parentVerticalTab1">Reliance CDMA</a></li>
					<li><a href="index.html#parentVerticalTab1">Telenor</a></li>
					<li><a href="index.html#parentVerticalTab1">MTS</a></li>
					<li><a href="index.html#parentVerticalTab1">Jio</a></li>
				</ul>
			</div>
			<div class="col-md-3 agileits-amet-sed ">
				<h4>DATACARD RECHARGES</h4>
				<ul class="w3ls-nav-bottom">
					<li><a href="index.html#parentVerticalTab3">Tata Photon</a></li>
					<li><a href="index.html#parentVerticalTab3">MTS MBlaze</a></li>
					<li><a href="index.html#parentVerticalTab3">MTS MBrowse</a></li>
					<li><a href="index.html#parentVerticalTab3">Airtel</a></li>
					<li><a href="index.html#parentVerticalTab3">Aircel</a></li>
					<li><a href="index.html#parentVerticalTab3">BSNL</a></li>
					<li><a href="index.html#parentVerticalTab3">MTNL Delhi</a></li>
					<li><a href="index.html#parentVerticalTab3">Vodafone</a></li>
					<li><a href="index.html#parentVerticalTab3">Idea</a></li>
					<li><a href="index.html#parentVerticalTab3">MTNL Mumbai</a></li>
					<li><a href="index.html#parentVerticalTab3">Tata Photon Whiz</a></li>
				</ul>
			</div>
			<div class="col-md-2 agileits-amet-sed">
				<h4>DTH Recharges</h4>
				<ul class="w3ls-nav-bottom">
					<li><a href="index.html#parentVerticalTab2"> Airtel Digital TV Recharges</a></li>
					<li><a href="index.html#parentVerticalTab2">Dish TV Recharges</a></li>
					<li><a href="index.html#parentVerticalTab2">Tata Sky Recharges</a></li>
					<li><a href="index.html#parentVerticalTab2">Reliance Digital TV Recharges</a></li>
					<li><a href="index.html#parentVerticalTab2">Sun Direct Recharges</a></li>
					<li><a href="index.html#parentVerticalTab2">Videocon D2H Recharges</a></li>
				</ul>
			</div>
			<div class="col-md-2 agileits-amet-sed ">
				<h4>Payment Options</h4>
				<ul class="w3ls-nav-bottom">
					<li>Credit Cards</li>
					<li>Debit Cards</li>
					<li>Any Visa Debit Card (VBV)</li>
					<li>Direct Bank Debits</li>
					<li>Cash Cards</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="w3l-footer-bottom">
		<div class="container-fluid">
			<div class="col-md-4 w3-footer-logo">
				<h2><a href="index.html">Pay2x</a></h2>
			</div>
			<div class="col-md-8 agileits-footer-class">
				<p >© 2018 Pay2x Solutions Private Limited. All Rights Reserved  </p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</footer>
<!--//footer-->
