
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a style="color:#e5ff01" class="navbar-brand" href="#">Pay2x</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     <!--  <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
	  	<li><a style="color:#e5ff01"><span class="glyphicon "></span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#basic_info_modal">Open Modal</button></a></li>
		<li><a style="color:#e5ff01" href="merchantInfoPage.html"><span class="glyphicon "></span><button id="become_merchant_btn" style="background:transparent;"> Become Merchant </button></a></li>
        <li id="header_signup_btn"><a style="color:#e5ff01" data-toggle="modal" data-target="#myModal" onclick="$('#loginbox').hide(); $('#signupbox').show()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li id="header_login_btn"><a style="color:#e5ff01" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		<li style="display:none;" id="login_username"><a style="color:#e5ff01"><span class="glyphicon "></span> Hi, User</a></li>
		<li style="display:none;" id="login_status"><a style="color:#e5ff01" href="php/logout.php" ><span class="glyphicon "></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

  <div class="modal fade" id="basic_info_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Basic Info of Applicant</h4>
        </div>
        <div class="modal-body">
			<form  name="sentMessage" id="basic_info_contactForm" novalidate>
								
				<div class="control-group form-group">
					<div class="controls">
						<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required="" data-validation-required-message="Please enter your name.">
						<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="email" id="email" required="" data-validation-required-message="Please enter your email address.">
						<br><input type="tel" class="form-control" pattern="/(7|8|9)\d{9}/"  placeholder="Enter mobile Number" name="phone" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
						<br><label class="inputLabel">Date of Birth :</label><br>
						<input type="date" class="form-control" placeholder="dob" name="dob" id="dob" required data-validation-required-message="Please Enter Date of birth.">
					</div>
				</div>
				<div id="success" class="success_none"> this is success text</div>
					<!-- For success/fail messages -->
				<button type="submit" id="submit" class=" btn-primary">Submit</button>
				<div class="clearfix"></div>	
			</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
