<section>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div>
              <div id="loginbox" style="margin-top:30px;" class="mainbox col-md-12 col-sm-12">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                  </div>
                  <div style="padding-top:30px" class="panel-body">
                    <div id="login-alert" class="alert alert-danger col-sm-12 alert-disp"></div>
                    <form id="loginform" class="form-horizontal" role="form" method="post">
                      <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email" required>
                      </div>
                      <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" value="" name="password" placeholder="password" required>
                      </div>
                      <div class="input-group" style="margin-bottom: 25px;">
                        <div class="checkbox">
                          <label><input id="login-remember" type="checkbox" name="remember" value="1" checked> Remember me</label>
                        </div>
                      </div>
                      <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls login-buttons">
                          <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; padding: 5px;">
                            <button id="btnlogin" type="button" style="width: 100%;" class="btn btn-success" name="button"><i class="fa fa-user"></i> Login</button>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center; padding: 5px;">
                            <a id="btn-fblogin" href="#" style="width: 100%;" class="btn btn-primary"><i class="fa fa-facebook"></i> Login with Facebook</a>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center; padding: 5px;">
                            <a id="btn-Gmail-login" href="#" style="width: 100%;" class="btn btn-danger"><i class="fa fa-user"></i> Login with Gmail</a>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center; padding: 5px;">
                            <a id="btn-Twitter-login" href="#" style="width: 100%;" class="btn btn-info"><i class="fa fa-twitter"></i> Login with Twitter</a>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center; padding: 5px;">
                            <a href="#" class="btn btn-warning" style="width: 100%;" onclick="myFunction()"><i class="fa fa-home"></i> Back to home</a>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12 control">
                          <div style="border-top: 1px solid#888; padding-top:15px; font-size:1em;">
                            Don't have an account!
                            <a style="color: blue;" href="#" onclick="$('#loginbox').hide(); $('#signupbox').show()">Sign Up Here</a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div id="signupbox" style="display:none; margin-top:30px" class="mainbox col-md-12 col-sm-12">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                  </div>
                  <div class="panel-body">
                    <form id="signupform" class="form-horizontal" action="#" role="form" method="post">
                      <div id="signupalert" class="alert alert-danger alert-signup">
                      </div>
                      <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                          <input type="text" id="signup-email" class="form-control" name="email" placeholder="Email Address">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Username</label>
                        <div class="col-md-9">
                          <input type="text" id="signup-username" class="form-control" name="uname" placeholder="Username">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9">
                          <input type="text" id="signup-firstname" class="form-control" name="firstname" placeholder="First Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-9">
                          <input type="text" id="signup-lastname" class="form-control" name="lastname" placeholder="Last Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                          <input type="password" id="signup-password" class="form-control" name="passwd" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Retype Password</label>
                        <div class="col-md-9">
                          <input type="password" id="signup-repassword" class="form-control" name="repasswd" placeholder="Retype Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                          <img src="php/captcha.php" width="110" height="40" alt="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label">Enter Captcha</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" id="signup-captcha" placeholder="Enter Captcha" name="captcha">
                        </div>
                      </div>
                      <div class="form-group">
                        <!--BUTTON-->
                        <div class="col-md-12" style="text-align: center;">
                          <button id="btn-signup" type="button" style="width: 80%;" class="btn btn-info"><i class="fa fa-user-plus"></i> Sign Up</button>
                        </div>
                        <div class="col-md-12" style="text-align:center;">
                          <span>or</span>
                        </div>
                      </div>
                      <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <button id="btn-fbsignup" type="button" style="margin-bottom: 10px; width: 100%;" class="btn btn-primary"><i class="fa fa-facebook-official"></i>  Sign Up with Facebook</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <button id="btn-gmailsignup" type="button" style="margin-bottom: 10px; width: 100%;" class="btn btn-danger"><i class="fa fa-google-plus"></i>  Sign Up with Gmail</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <button id="btn-twittersignup" type="button" class="btn btn-info" style="margin-bottom: 10px; width: 100%;"><i class="fa fa-twitter"></i> Sign Up with Twitter</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <a href="#" class="btn btn-warning" style="width: 100%;" onclick="myFunction()"><i class="fa fa-home"></i> Back to home</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    