h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif;} 
.w3-bar-block .w3-bar-item{padding:16px}

a{
    text-decoration:none;
    
}
.leftclass{
    float:right;
}



.w3-Dark-Slate-Blue{background-color:#483D8B;}
.w3-Dark-Slate-Blue:hover{
    background-color:#483D8B;
}

body{
    background-color:white;
    padding-top:100px;
}
.w3-card1{
    margin-right:10px;
    margin-left:10px;
    margin-top:5px;
  
}
.w3-orangered{
    color:white;
}

.btn-default{
    background-color:orange;
}
.btn-default:hover{
    background-color:orange;
}

.w3-large1{
    color:white;
    font-size:20px;
    text-align:center;
}
.w3-card a{
    text-decoration:none;
}
.w3-card1 a{
    text-decoration:none;
}
.w3-panel a{
    text-decoration:none;
}
.leftclass{
    float:right;
}


.dropdown-menu li{
    background-color:rgba(0, 0, 0, 0.52);
   
}
.navbar-nav li a{
    color:yellow;
}

.navbar-toggle .icon-bar{
    background-color:yellow;
}

.book_ticket_btn{
	display			: 	inline-grid;
	
	
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow		: 	2px -3px 5px 2px #b4b4b4;
}
.book_ticket_btn span
{
	background-color:	#1b4180;
	color			:	white;
	padding-left	: 	10px;
	padding-right	: 	10px;
	padding-top		: 	8px;
	padding-bottom	: 	8px;
	font-family		: 	sans-serif;
	font-size		: 	initial;
	width			:	125px;
	
}
 .book_ticket_btn img{
	margin			:	auto;
	width			:	75px;
	height			:	75px;
}

.book_ticket_btn_parent{
	display:table;
	vertical-align: middle;
	text-align: center;
}