

	<!-- book ticket Page-->
	
	<div id="book-ticket-content">
	<div class="categories-section main-grid-border" id="mobilew3layouts">
		<div class="container">
			<div class="category-list">
			<style>
							.book_ticket_btn{
								display			: 	inline-grid;
								
								
								margin-left: 10px;
								margin-right: 10px;
								margin-top: 10px;
								margin-bottom: 10px;
								box-shadow		: 	2px -3px 5px 2px #b4b4b4;
							}
							.book_ticket_btn span
							{
								background-color:	#1b4180;
								color			:	white;
								padding-left	: 	10px;
								padding-right	: 	10px;
								padding-top		: 	8px;
								padding-bottom	: 	8px;
								font-family		: 	sans-serif;
								font-size		: 	initial;
								width			:	125px;
								
							}
							 .book_ticket_btn img{
								margin			:	auto;
								width			:	75px;
								height			:	75px;
							}
							
							.book_ticket_btn_parent{
							display:table;
							vertical-align: middle;
							text-align: center;
							}
			</style>
			
			<div class="book_ticket_btn_parent" >

					<a href="movies.html"  class="book_ticket_btn"  >
						<img src="icon/movie.png" align=="middle">
						<span class="label ">movies</span>
					</a>
					<a href="Bus.html"  class="book_ticket_btn"  >
						<img src="icon/bus.png" align=="middle">
						<span class="label ">Bus</span>
					</a>
						<a href="hotel/best_hotel/index.html"  class="book_ticket_btn"  >
						<img src="icon/Hotel.png" align=="middle">
						<span class="label ">Hotel</span>
					</a>
					<a href="flight.html"  class="book_ticket_btn"  >
						<img src="icon/flight.png" align=="middle">
						<span class="label ">Flights</span>
					</a>
					<a href="train.html" class="book_ticket_btn"  >
						<img src="icon/train.png" align=="middle">
						<span class="label ">Trains</span>
					</a>
				
		</div>    
                        
			
				
			</div>
		</div>
	</div>
	</div>
	
	