
	
	<!-- Bulk Message -->
	<div id="bulk-msg-content">
		<div class="categories-section main-grid-border" id="mobilew3layouts">
			<div class="container">
				<div class="category-list">
					<div id="parentVerticalTab">
						<div class="agileits-tab_nav">
							<ul class="resp-tabs-list hor_1">
								<li><i class="icon fa fa-mobile" aria-hidden="true"></i>Text Message</li>
								<li><i class="icon fa fa-television" aria-hidden="true"></i>Unicode Message</li>
								<li><i class="icon fa fa-credit-card" aria-hidden="true"></i>WAP Message</li>
								<li><i class="icon fa fa-lightbulb-o" aria-hidden="true"></i>Flash Message</li>
								<li><i class="icon fa fa-phone" aria-hidden="true"></i>WhatsApp Message</li>
								<li><i class="icon fa fa-connectdevelop" aria-hidden="true"></i>Email Message</li>
							</ul>
						</div>
					<div class="resp-tabs-container hor_1">
						<!-- tab1 -->
							
						<div class="tabs-box">
								
							<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
								 
								<article class="headings">
								
										<h2>Send Text Message in Bulk</h2>
									<p>
									<ul style="list-style-type:disc">
									<li>Simple plane messages </li>
									<li>Let you connect to you clients or dearers</li>
									<li>Bulk messaging save time</li>
									
									</ul>
									</p>
								
								</article>
							</div>
								
						<div class="col-md-8 w3ls-supportform">
								<form  name="sentMessage" enctype ="multipart/form-data"  id="text_msg" novalidate>
								
									<input type="hidden" name="msg_service_type" value="text_msg"/>
									
									<div class="control-group form-group">
									
									<div class="controls">
										
										<!--Sender ID-->
										<select title="Select your employment" onchange="onSelectChange()"  name="sender" id="sender" class="sender form-control wsselectpicker required employment" >
												<option value="1" selected="selected">Select Senders ID</option>
												<option value="2" >No sender exist</option>
												<option value="3" >Senders1</option>
												<option value="4" >Senders2</option>
												<option value="5" >Senders3</option> 
										</select>
										<br>
										
										<!--MODE-->
										<select title="Select your employment" id="text_msg_mode" name="mode" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
												<option value="1" selected="selected">Select Mode</option>
												<option value="2" >Mobile Number</option>
												<option value="3" >Bulk (Text message)</option>
												<option value="4" >Bulk (CSV File)</option>
												<option value="5" >Bulk (XLS File)</option>
										</select>
										<br>
										
										<!--mobile number-->
										<div class="input-group">
											<label class="inputLabel">Upload the number here</label>
											<input type="tel" placeholder="Mob Num1,Mob Num2,..." class="form-control amount required" name="mob_num" data-validation="number" >
										</div>
										
										<label class="inputLabel">OR</label>
										<br>
										
										<!--File-->
										<div class="input-group">
											<label class="inputLabel">Upload the file here</label>
											<input type="file"  class="form-control amount required" id="file_bulk_msg" name="file_bulk_msg"  >
										</div>
										
										<!-- Allow Duplicacy -->
											<label class="inputLabel">Dont allow duplicate nnumber &emsp;:&emsp;&emsp;</label>
											<input type="checkbox"   name="duplicacy" id="duplicacy" required data-validation-required-message="Check whether smoke or not.">
										<br><br>
										
										<!-- Message-->
										<input type="textarea" name="message"  class="form-control amount required" placeholder="Enter Message Here" maxlength="2000" >
										<div>(1 unit = 160 char) max lenght 2000 char</div>
										<br>
										
										<!--Schedule Message-->
										<input type="checkbox"  name="schedule" id="schedule">
										<label class="inputLabel">&emsp; Schedule for some another time</label>
										<span class="residence_type_id_error_indicator help-block"></span>
										<input type="datetime-local" name="date_time" max="2017-11-19 10:00"  class="form-control amount required">
										<br><br>
											
										</div>	
									</div>
									
									
									<!-- For success/fail messages -->
									<input type="submit" id="text_msg_submit" value="submit"  class="submit btn btn-primary"></button>&emsp;
									<input type="reset" class="submit btn btn-primary">
									<br>
									<div class="status"  id ="text_msg_status"></div>												
										
									<div class="clearfix"></div>	
								</form>
						</div>
								<div class="clearfix"> </div>
						
						</div>
							
						<!-- /tab1 -->
						
						<!-- tab2-->
						<div class="tabs-box">
							
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
								<article class="headings">
								
										<h2>Send Message in your language in Bulk</h2>
									<p>
									<ul style="list-style-type:disc">
									<li>Sometimes language matters the most</li>
									<li>Let you connect to you clients or dearers more firmly</li>
									<li>Save time using bulk messaging</li>
									
									</ul>
									</p>
								
								</article>
								</div>
							
								<div class="col-md-8 w3ls-supportform">
									<form action="php/bulk_msg_server.php" method="post" name="sentMessage" id="contactForm" novalidate>
									
									
										<div class="control-group form-group">
										<div class="controls">
										<input type="hidden" name="msg_service_type" value="unicode_msg"/>
										<!--Sender ID-->
										<select title="Select your employment" name="sender" onchange="onSelectChange()" class="form-control wsselectpicker required employment"  >
												<option value="1" selected="selected">Select Senders ID</option>
											   <option value="2" selected="selected">Senders1</option>
												<option value="3" >Senders2</option>
												<option value="4" >Senders3</option>
											   
										</select>
										<br>
										
										<!--MODE-->
										<select title="Select your employment" name="mode" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
												<option value="1" selected="selected">Select Mode</option>
											   <option value="2" >Mobile Number</option>
												<option value="3" >Bulk (Text message)</option>
												<option value="4" >Bulk (CSV File)</option>
												<option value="4" >Bulk (XLS File)</option>
										</select>
										<br>
										
										<select title="Select your employment" name="language" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
											  <option value="AF">Select Language</option>
											  <option value="AF">Afrikanns</option>
											  <option value="SQ">Albanian</option>
											  <option value="AR">Arabic</option>
											  <option value="HY">Armenian</option>
											  <option value="EU">Basque</option>
											  <option value="BN">Bengali</option>
											  <option value="BG">Bulgarian</option>
											  <option value="CA">Catalan</option>
											  <option value="KM">Cambodian</option>
											  <option value="ZH">Chinese (Mandarin)</option>
											  <option value="HR">Croation</option>
											  <option value="CS">Czech</option>
											  <option value="DA">Danish</option>
											  <option value="NL">Dutch</option>
											  <option value="EN">English</option>
											  <option value="ET">Estonian</option>
											  <option value="FJ">Fiji</option>
											  <option value="FI">Finnish</option>
											  <option value="FR">French</option>
											  <option value="KA">Georgian</option>
											  <option value="DE">German</option>
											  <option value="EL">Greek</option>
											  <option value="GU">Gujarati</option>
											  <option value="HE">Hebrew</option>
											  <option value="HI">Hindi</option>
											  <option value="HU">Hungarian</option>
											  <option value="IS">Icelandic</option>
											  <option value="ID">Indonesian</option>
											  <option value="GA">Irish</option>
											  <option value="IT">Italian</option>
											  <option value="JA">Japanese</option>
											  <option value="JW">Javanese</option>
											  <option value="KO">Korean</option>
											  <option value="LA">Latin</option>
											  <option value="LV">Latvian</option>
											  <option value="LT">Lithuanian</option>
											  <option value="MK">Macedonian</option>
											  <option value="MS">Malay</option>
											  <option value="ML">Malayalam</option>
											  <option value="MT">Maltese</option>
											  <option value="MI">Maori</option>
											  <option value="MR">Marathi</option>
											  <option value="MN">Mongolian</option>
											  <option value="NE">Nepali</option>
											  <option value="NO">Norwegian</option>
											  <option value="FA">Persian</option>
											  <option value="PL">Polish</option>
											  <option value="PT">Portuguese</option>
											  <option value="PA">Punjabi</option>
											  <option value="QU">Quechua</option>
											  <option value="RO">Romanian</option>
											  <option value="RU">Russian</option>
											  <option value="SM">Samoan</option>
											  <option value="SR">Serbian</option>
											  <option value="SK">Slovak</option>
											  <option value="SL">Slovenian</option>
											  <option value="ES">Spanish</option>
											  <option value="SW">Swahili</option>
											  <option value="SV">Swedish </option>
											  <option value="TA">Tamil</option>
											  <option value="TT">Tatar</option>
											  <option value="TE">Telugu</option>
											  <option value="TH">Thai</option>
											  <option value="BO">Tibetan</option>
											  <option value="TO">Tonga</option>
											  <option value="TR">Turkish</option>
											  <option value="UK">Ukranian</option>
											  <option value="UR">Urdu</option>
											  <option value="UZ">Uzbek</option>
											  <option value="VI">Vietnamese</option>
											  <option value="CY">Welsh</option>
											  <option value="XH">Xhosa</option>
											</select>
										<br>
										<div class="input-group">
										<label class="inputLabel">Upload the number here</label>
										<input type="tel" placeholder="Mob Num1,Mob Num2,..." class="form-control amount required" name="mob_num" >
										</div>
										
										<label class="inputLabel">OR</label>
										<br>
										<div class="input-group">
										<label class="inputLabel">Upload the file here</label>
										<input type="file" placeholder="Loan amount required" class="form-control amount required" name="file" >
										</div>
										
										
										<label class="inputLabel">Dont allow duplicate nnumber &emsp;:&emsp;&emsp;</label>
										<input type="checkbox"   name="duplicacy" id="duplicacy" required data-validation-required-message="Check whether smoke or not.">
										<br><br>
										
										<input type="textarea" name="message"  class="form-control amount required" placeholder="Enter Message Here" maxlength="2000" >
										<div>(1 unit = 160 char) max lenght 2000 char</div>
										<br>
										<input type="checkbox"  name="schedule" id="schedule">
										<label class="inputLabel">&emsp; Schedule for some another time</label>
										<span class="residence_type_id_error_indicator help-block"></span>
										<input type="datetime-local" name ="date_time" class="form-control amount required">
										<br><br>
											
										</div>	
										
									
										

									</div>
								
									
									
										<div id="success"></div>
										<!-- For success/fail messages -->
										<input type="submit" value="submit" class="submit btn btn-primary"></button>
										<input type="reset" class="submit btn btn-primary">
										
										<div class="clearfix"></div>	
									</form>
								</div>
								<div class="clearfix"> </div>
					
						</div>
						<!--/tab2-->
                        
                        <!-- tab3 -->
						<div class="tabs-box">
							
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
									<article class="headings">
								
										<h2>Send WAP Message in Bulk</h2>
									<p>
									<ul style="list-style-type:disc">
									<li>WAP message are hard to ignore </li>
									<li>Let you connect to you clients or dearers</li>
									<li>Bulk messaging save time</li>
									
									</ul>
									</p>
								
								</article>
								</div>
							
								<div class="col-md-8 w3ls-supportform">
									<form action="php/bulk_msg_server.php" method="post" name="sentMessage" id="contactForm" novalidate>
									
										<input type="hidden" name="msg_service_type" value="wap_msg"/>
										
										<div class="control-group form-group">
											<div class="controls">
											
											<!--Sender ID-->
											<select title="Select your employment" name ="sender" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
													<option value="1" selected="selected">Select Senders ID</option>
												   <option value="2" selected="selected">Senders1</option>
													<option value="3" >Senders2</option>
													<option value="4" >Senders3</option>
												   
											</select>
											<br>
											
											<!--MODE-->
											<select title="Select your employment" name="mode" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
													<option value="1" selected="selected">Select Mode</option>
												   <option value="2" >Mobile Number</option>
													<option value="3" >Bulk (Text message)</option>
													<option value="4" >Bulk (CSV File)</option>
													<option value="4" >Bulk (XLS File)</option>
											</select>
											<br>
											
											<!--Mobile Number-->
											<div class="input-group">
											<label class="inputLabel">Upload the number here</label>
											<input type="tel" placeholder="Mob Num1,Mob Num2,..." class="form-control amount required" name="mob_num" >
											</div>
											
											<label class="inputLabel">OR</label>
											<br>
											
											<!--File-->
											<div class="input-group">
											<label class="inputLabel">Upload the file here</label>
											<input type="file" placeholder="Loan amount required" class="form-control amount required" name="file" >
											</div>
											
											<!--Allow Duplicacy-->
											<label class="inputLabel">Dont allow duplicate nnumber &emsp;:&emsp;&emsp;</label>
											<input type="checkbox"   name="duplicacy" id="duplicacy" required data-validation-required-message="Check whether smoke or not.">
											
											<br>
											<!--URL-->
											<div class="input-group">
											<label class="inputLabel">Enter the url</label>
											<input type="tel" placeholder="WWW." class="form-control amount required" name="wap_url" >
											</div>
											
											<br><br>
											<!--Message-->
											<input type="textarea" name="message"  class="form-control amount required" placeholder="Enter Message Here" maxlength="2000" >
											<div>(1 unit = 160 char) max lenght 2000 char</div>
											<br>
											
											<!--Schedule Time-->
											<input type="checkbox"  name="schedule" id="schedule">
											<label class="inputLabel">&emsp; Schedule for some another time</label>
											<span class="residence_type_id_error_indicator help-block"></span>
											<input type="datetime-local" name="date_time" class="form-control amount required">
											<br><br>
												
											</div>	
											
										</div>
									
										
											<div id="success"></div>
											<!-- For success/fail messages -->
											<input type="submit" value="submit" class="submit btn btn-primary"></button>&emsp;
											<input type="reset" class="submit btn btn-primary">
											
										<div class="clearfix"></div>	
									</form>
								</div>
								<div class="clearfix"> </div>
					
						</div>				
                           
                        <!-- /tab3 -->
                        
                        <!-- tab4 -->
						
						<div class="tabs-box">
							
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
								<article class="headings">
								
										<h2>Send Flash Message in Bulk</h2>
									<p>
									<ul style="list-style-type:disc">
									<li>Flash messages are hard to ignore </li>
									<li>Let you connect to you clients or dearers</li>
									<li>Bulk messaging save time</li>
									
									</ul>
									</p>
								
								</article>
								</div>
							
								<div class="col-md-8 w3ls-supportform">
									<form action="php/bulk_msg_server.php" method="post" name="sentMessage" id="contactForm" novalidate>
									
									<input type="hidden" name="msg_service_type" value="flash_msg"/>
									
									<div class="control-group form-group">
										<div class="controls">
										
										<!--Sender ID-->
										<select title="Select your employment" name="sender" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
												<option value="1" selected="selected">Select Senders ID</option>
											   <option value="2" selected="selected">Senders1</option>
												<option value="3" >Senders2</option>
												<option value="4" >Senders3</option>
											   
										</select>
										<br>
										
										<!--MODE-->
										<select title="Select your employment" name="mode"  onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
												<option value="1" selected="selected">Select Mode</option>
											   <option value="2" >Mobile Number</option>
												<option value="3" >Bulk (Text message)</option>
												<option value="4" >Bulk (CSV File)</option>
												<option value="4" >Bulk (XLS File)</option>
										</select>
										<br>
										<div class="input-group">
										<label class="inputLabel">Upload the number here</label>
										<input type="tel" placeholder="Mob Num1,Mob Num2,..." class="form-control amount required" name="mob_num" >
										</div>
										
										<label class="inputLabel">OR</label>
										<br>
										<div class="input-group">
										<label class="inputLabel">Upload the file here</label>
										<input type="file" placeholder="Loan amount required" class="form-control amount required" name="file" >
										</div>
										
										
										<label class="inputLabel">Dont allow duplicate nnumber &emsp;:&emsp;&emsp;</label>
										<input type="checkbox"   name="duplicacy" id="duplicacy" required data-validation-required-message="Check whether smoke or not.">
										<br><br>
										
										<input type="textarea" name="message"   class="form-control amount required" placeholder="Enter Message Here" maxlength="2000" >
										<div>(1 unit = 160 char) max lenght 2000 char</div>
										<br>
										<input type="checkbox"  name="schedule" id="schedule">
										<label class="inputLabel">&emsp; Schedule for some another time</label>
										<span class="residence_type_id_error_indicator help-block"></span>
										<input type="datetime-local" name="date_time" class="form-control amount required">
										<br><br>
											
										</div>	
									</div>
								
										<div id="success"></div>
										<!-- For success/fail messages -->
										<input type="submit" value="submit" class="submit btn btn-primary"></button>&emsp;
										<input type="reset" class="submit btn btn-primary">
										
									<div class="clearfix"></div>	
									</form>
								</div>
								<div class="clearfix"> </div>
					
						</div>
						<!-- /tab4 -->
                        
                        <!-- tab5 -->
						<div class="tabs-box">
							
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
								<article class="headings">
								
										<h2>Send WhatsApp Message in Bulk</h2>
									<p>
									<ul style="list-style-type:disc">
									<li>WhatsApp messages are trending </li>
									<li>Most people open WhatsApp messages</li>
									<li>Let you connect to you clients or dearers</li>
									<li>Bulk messaging save time</li>
									
									</ul>
									</p>
								
								</article>
								</div>
							
								<div class="col-md-8 w3ls-supportform">
									
									<form action="php/bulk_msg_server.php" method="post" name="sentMessage" id="contactForm" novalidate>
									<input type="hidden" name="msg_service_type" value="Whatsapp_msg"/>
									
									<div class="control-group form-group">
										<div class="controls">
										
										<!--Sender ID-->
										<select title="Select your employment" name="sender" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
												<option value="1" selected="selected">Select Senders ID</option>
											   <option value="2" selected="selected">Senders1</option>
												<option value="3" >Senders2</option>
												<option value="4" >Senders3</option>
											   
										</select>
										<br>
										
										<!--MODE-->
										<select title="Select your employment" name="mode" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
												<option value="1" selected="selected">Select Mode</option>
											   <option value="2" >Mobile Number</option>
												<option value="3" >Bulk (Text message)</option>
												<option value="4" >Bulk (CSV File)</option>
												<option value="4" >Bulk (XLS File)</option>
										</select>
										<br>
										<div class="input-group">
										<label class="inputLabel">Upload the number here</label>
										<input type="tel" placeholder="Mob Num1,Mob Num2,..." class="form-control amount required" name="mob_num" >
										</div>
										
										<label class="inputLabel">OR</label>
										<br>
										<div class="input-group">
										<label class="inputLabel">Upload the file here</label>
										<input type="file" placeholder="Loan amount required" class="form-control amount required" name="file" >
										</div>
										
										
										<label class="inputLabel">Dont allow duplicate nnumber &emsp;:&emsp;&emsp;</label>
										<input type="checkbox"   name="duplicacy" id="duplicacy" required data-validation-required-message="Check whether smoke or not.">
										<br><br>
										
										<div class="input-group">
										<label class="inputLabel">Upload image for message</label>
										<input type="file" placeholder="Loan amount required" class="form-control amount required" name="image" >
										</div>
										
										<input type="textarea" name="message"  class="form-control amount required" placeholder="Enter Message Here" maxlength="2000" >
										<div>(1 unit = 160 char) max lenght 2000 char</div>
										<br>
										<input type="checkbox"  name="schedule" id="schedule">
										<label class="inputLabel">&emsp; Schedule for some another time</label>
										<span class="residence_type_id_error_indicator help-block"></span>
										<input type="datetime-local" name="date_time" class="form-control amount required">
										<br><br>
											
										</div>	
									</div>
								<div id="success"></div>
										<!-- For success/fail messages -->
										<input type="submit" value="submit" class="submit btn btn-primary"></button>&emsp;
										<input type="reset" class="submit btn btn-primary">
										
									<div class="clearfix"></div>	
									</form>
								</div>
								<div class="clearfix"> </div>
					
						</div>
						<!-- /tab5 -->
                        
                        <!-- tab6 -->
						<div class="tabs-box">
							
									<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
										 
								<article class="headings">
								
										<h2>Send Email Message in Bulk</h2>
									<p>
									<ul style="list-style-type:disc">
									<li>Emails are the most official messages</li>
									<li>Let you connect to you clients or dearers</li>
									<li>Bulk messaging save time</li>
									
									</ul>
									</p>
								
								</article>
								</div>
							
								<div class="col-md-8 w3ls-supportform">
								
								<form action="php/bulk_msg_server.php" method="post" name="sentMessage" id="contactForm" novalidate>
									<input type="hidden" name="msg_service_type" value="email_msg"/>
									
									<div class="control-group form-group">
										<div class="controls">
										
										<!--Sender ID-->
										<select title="Select your employment" name="sender" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
												<option value="1" selected="selected">Select Senders ID</option>
											   <option value="2" selected="selected">Senders1</option>
												<option value="3" >Senders2</option>
												<option value="4" >Senders3</option>
											   
										</select>
										<br>
										
										<!--MODE-->
										<select title="Select your employment" name="mode" onchange="onSelectChange()" class="form-control wsselectpicker required employment" >
												<option value="1" selected="selected">Select Mode</option>
											   <option value="2" >Mobile Number</option>
												<option value="3" >Bulk (Text message)</option>
												<option value="4" >Bulk (CSV File)</option>
												<option value="4" >Bulk (XLS File)</option>
										</select>
										<br>
										<div class="input-group">
										<label class="inputLabel">Upload the number here</label>
										<input type="tel" placeholder="Mob Num1,Mob Num2,..." class="form-control amount required" name="mob_num" >
										</div>
										
										<label class="inputLabel">OR</label>
										<br>
										<div class="input-group">
										<label class="inputLabel">Upload the file here</label>
										<input type="file" placeholder="Loan amount required" class="form-control amount required" name="file" >
										</div>
										
										
										<label class="inputLabel">Dont allow duplicate nnumber &emsp;:&emsp;&emsp;</label>
										<input type="checkbox"   name="duplicacy" id="duplicacy" required data-validation-required-message="Check whether smoke or not.">
										<br><br>
										
										<input type="textarea" name="message"  class="form-control amount required" placeholder="Enter Message Here" maxlength="2000" >
										<div>(1 unit = 160 char) max lenght 2000 char</div>
										<br>
										<input type="checkbox"  name="schedule" id="schedule">
										<label class="inputLabel">&emsp; Schedule for some another time</label>
										<span class="residence_type_id_error_indicator help-block"></span>
										<input type="datetime-local" name="date_time" class="form-control amount required">
										<br><br>
											
										</div>	
										
									
										

									</div>
								
									
									
										<div id="success"></div>
										<!-- For success/fail messages -->
										<input type="submit" value="submit" class="submit btn btn-primary"></button>&emsp;
										<input type="reset" class="submit btn btn-primary">
										
									<div class="clearfix"></div>	
									</form>
								</div>
								<div class="clearfix"> </div>
					
						</div>
						<!-- /tab6 -->
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
	