
	<!-- Credit card Page-->
	<div id="credit-card-content">
	<div class="categories-section main-grid-border" id="mobilew3layouts">
		<div class="container">
			<div class="category-list">
				<div id="parentVerticalTab">
					<!-- <div class="agileits-tab_nav">
					
						<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
								<article class="headings">
								
										<h2>Get a loan for any need</h2>
									<p>
									<ul style="list-style-type:disc">
									<li>A monetary aid for the renovation of your houseTax Benefits under section 80C and 10D</li>
									<li>To meet wedding expenses one of the important and expensive days</li>
									<li>To buy a new iPhone</li>
									
									</ul>
									</p>
								
								</article>
								</div>
					
						</div> -->
					
                        
                        
                        <div>
                            <div class="tabs-box">
							
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
									<article class="cc_headings">
									
										<h2>About Credit Card</h2>
										
										
										<p>In the current age it is no longer practicable to carry a thick 
										stack of bank notes and rolls of coins in one's wallet not only from 
										the security perspective, but also from the point of view of convenience. 
										With respect to these issues, credit cards, also known as plastic money, 
										provide a viable alternative and its use is on the rise.</p>
										<p>Apart from providing much needed alternative to cash, credit cards 
										also reward you expenses made using them. As a result of the huge demand
										for plastic currency, there are options aplenty available from leading banks.
										</p>
										
										
										
									
									</article>
								</div>
							
								<div class="col-md-8 w3ls-supportform">
								
								
									<form action="#" method="get" name="creditcardForm" id="creditcard_form" novalidate>
									
									<div class="control-group form-group">
										<div class="controls">
										
										<input type="hidden" name="service_name" value="creditcard"/>
											
										<div class="input-group">
												<span class="input-group-addon">Rs</span>
												<input type="tel" placeholder="Loan amount required" class="form-control amount required" name="creditcard_amount" data-validation="number" data-validation-error-msg="Please enter an amount" id="loan_amount" maxlength="9"  shifindex="1" tabindex="1"  autocomplete="Off">
										</div>
										
										<select title="Select your employment" onchange="onSelectChange()" class="form-control wsselectpicker required employment" id="employment_type_id" value="" name="creditcard_employment_type" data-validation="required" data-validation-error-msg="Please select current employment type" shifindex="2" tabindex="2" autocomplete="Off">
												<option value="1" selected="selected">Select your employment</option>
												<option value="2" selected="selected">Salaried</option>
												<option value="3" >Self Employed - Professional</option>
												<option value="4" >Self Employed - Business Owner</option>
											   
										</select>
										<br>
										
										<div id="salaried-details" style="display:none">
											<div class="input-group"> <span class="input-group-addon">Rs</span>
													<input type="tel" placeholder="Current in hand salary" class="form-control monthly_income amount required" id="creditcard_monthly_income" name="creditcard_monthly_income" data-validation="number" data-validation-error-msg="Please enter the monthly income" maxlength="11"  shifindex="3" tabindex="3" value="" autocomplete="Off">
											</div>
											 
											 <!--Mode of salary -->

										   
											<select title="Select Mode of Salary" class="form-control cselectpicker required" name="creditcard_salary_mode_type" id="creditcard_salary_mode_type" data-live-search="true" data-validation="required" data-validation-error-msg="Please choose your Mode of Salary"  shifindex="14" tabindex="14" autocomplete="Off">
												<option value="">---Mode of Salary---</option>
												<optgroup>
													<option value="1" >Bank Transfer</option>
													<option value="9999" >By Cheque</option>
													<option value="9998" >By Cash</option>
												</optgroup>

											</select>
											<span class="salary_mode_type_value_error_indicator help-block"></span>

									
											<br>
											<input type="text" class="form-control" placeholder="your company name" name="creditcard_company_name" id="creditcard_company_name" required data-validation-required-message="Please Enter salary.">
											<br>
											
											<!-- End --- Mode of salary -->
										</div>
										
										<div id="professional-details" style="display:none">
											<select title="Select Profession" class="form-control wsselectpicker required" name="creditcard_prof_emp_sub_id" id="creditcard_prof_emp_sub_id" data-validation="required" data-validation-error-msg="Please select your profession" shifindex="4" tabindex="4" autocomplete="Off">
												<option value="0">--- Selct your profession ----</option>
												<option value="1" >Doctor</option>
												<option value="22" >Chartered Accountant (CA)</option>
												<option value="21" >Architect</option>
												<option value="23" >Company Secretary (CS)</option>
												<option value="25" >Cost Accountant ( ICWA )</option>
												<option value="24" >Consultant</option>
												<option value="3" >Engineer</option>
												<option value="5" >Other</option>
												</select>
											<span class="professional_employment_error_indicator help-block"></span>
									  
									  
										 <select title="Select profession years" class="form-control wsselectpicker required" data-live-search="true" data-validation="required" data-validation-error-msg="Please choose profession years" name="profession_date_sp" id="profession_date_sp" shifindex="8" tabindex="8" autocomplete="Off">
												<option value="">--Years in current profession ----</option>
												<option value="1" >0 - 1 year</option>
												<option value="2" >1 - 2 years</option>
												<option value="3" >2 - 3 years</option>
												<option value="5" >3 - 5 years</option>
												<option value="10" >5 years +</option>
												</select>
											<span class="profession_date_sp_error_indicator help-block"></span>
											
											<div class="input-group"> 
												<span class="input-group-addon">Rs</span>
												<input type="tel" placeholder="Your gross annual Income" class="form-control annual_income amount required" value="" name="creditcard_annual_income" id="creditcard_annual_income" data-validation="number" data-validation-error-msg="Please enter the annual income" maxlength="11"  shifindex="9" tabindex="9" autocomplete="Off">
											</div>
											<span class="income_error_indicator help-block"></span>
										</div>
										
										<div id="business-owner-details" style="display:none">
											<select title="Select Business Type" class="form-control wsselectpicker required" name="creditcard_business_emp_sub_id" id="creditcard_business_emp_sub_id" data-validation="required" data-validation-error-msg="Please select your profession" shifindex="6" tabindex="6" autocomplete="Off">
												<option value="">--- Select Business Type ---</option>
												<option value="32" >Proprietor</option>
												<option value="33" >Partnership Firm</option>
												<option value="34" >Pvt Ltd company</option>
												<option value="35" >Director applying as an Individual</option>
												<option value="37" >Others - Business</option>
											</select>
											<span class="business_employment_error_indicator help-block"></span>

										
											<div class="input-group"> <span class="input-group-addon">Rs</span>                                            
												<select title="Select Turnover" class="form-control wsselectpicker required" name="creditcard_annual_turnover" id="creditcard_annual_turnover" data-validation="required" data-validation-error-msg="Please enter the annual turnover" shifindex="7" tabindex="7" autocomplete="Off">
													<option value="">-- Please Select Turnover --</option>
													<option value="500000" >Upto 5 Lacs</option>
													<option value="2500000" >5 Lacs - 25 Lacs</option>
													<option value="5000000" >25 Lacs - 50 Lacs</option>
													<option value="10000000" >50 Lacs - 1 Cr</option>
													<option value="30000000" >1 Cr - 3 Cr</option>
													<option value="50000000" >3 Cr - 5 Cr</option>
													<option value="100000000" >5 Cr+</option>
												</select>
											</div>

											<span class="annual_turnover_error_indicator help-block"></span>
										
										 <select title="Select profession years" class="form-control wsselectpicker required" data-live-search="true" data-validation="required" data-validation-error-msg="Please choose profession years" name="creditcard_profession_date_sp" id="creditcard_profession_date_sp" shifindex="8" tabindex="8" autocomplete="Off">
												<option value="">--Years in current business ----</option>
																								<option value="1" >0 - 1 year</option>
																								<option value="2" >1 - 2 years</option>
																								<option value="3" >2 - 3 years</option>
																								<option value="5" >3 - 5 years</option>
																								<option value="10" >5 years +</option>
																						</select>
											<span class="profession_date_sp_error_indicator help-block"></span>
											<div class="input-group"> 
												<span class="input-group-addon">Rs</span>
												<input type="tel" placeholder="Your gross annual profit" class="form-control annual_income amount required" value="" name="creditcard_annual_income" id="creditcard_annual_income" data-validation="number" data-validation-error-msg="Please enter the annual income" maxlength="11"  shifindex="9" tabindex="9" autocomplete="Off">
											</div>
											<span class="income_error_indicator help-block"></span>
											
										
											  
												<select title="Select your Office Type" class="form-control office_residence_type_id1 wsselectpicker required" id="creditcard_office_residence_type_id" name="creditcard_office_residence_type_id" data-validation="required" data-validation-error-msg="Please select Office Type" shifindex="17" tabindex="17" autocomplete="Off">
													<option value="">-- Office type --</option>
													<option  value="1">Self Owned</option>
													<option  value="19">Owned by Sibling</option>
													<option  value="2">Owned by Parents</option>
													<option  value="3">Rented</option>
												</select>
												<span class="office_residence_type_id_error_indicator help-block"></span>
												
											
											<select title="Select Nature Of Business" name="creditcard_nature_of_business" id="creditcard_nature_of_business" class="form-control wsselectpicker required" data-live-search="true" data-validation="required" data-validation-error-msg="Please choose nature of business" shifindex="23" tabindex="23" autocomplete="Off">
											<option value="">-- Nature of business --</option>
											<option value = "17" >Manufacturing</option>
											<option value = "32" >Trading</option>
											<option value = "41" >Retailer</option>
											<option value = "38" >Services</option>
											<option value = "10" >E-commerce seller / Merchandiser</option>
											<option value = "42" >Distributor</option>
											<option value = "21" >Others</option>                                       
											</select>
											<span class="nature_of_business_error_indicator help-block"></span>
										</div>

											
										</div>	
										
										<select  title="Select Current City" name="creditcard_currentcity" id="creditcard_nature_of_business" class="form-control wsselectpicker required">
											<option selected="selected">-Select Current Residing City -</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#000000"><i>-Top Metropolitan Cities-</i></font></option>
											<option>Ahmedabad</option> 
											<option>Bengaluru/Bangalore</option>
											<option>Chandigarh</option>
											<option>Chennai</option>
											<option>Delhi</option>
											<option>Gurgaon</option>
											<option>Hyderabad/Secunderabad</option>
											<option>Kolkatta</option>
											<option>Mumbai</option>
											<option>Noida</option>
											<option>Pune</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Andhra Pradesh-</i></font></option>
											<option>Anantapur</option>
											<option>Guntakal</option>
											<option>Guntur</option>
											<option>Hyderabad/Secunderabad</option>
											<option>kakinada</option>
											<option>kurnool</option>
											<option>Nellore</option>
											<option>Nizamabad</option>
											<option>Rajahmundry</option>
											<option>Tirupati</option>
											<option>Vijayawada</option>
											<option>Visakhapatnam</option>
											<option>Warangal</option>
											<option>Andra Pradesh-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Arunachal Pradesh-</i></font></option>
											<option>Itanagar</option>
											<option>Arunachal Pradesh-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Assam-</i></font></option>
											<option>Guwahati</option>
											<option>Silchar</option>
											<option>Assam-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Bihar-</i></font></option>
											<option>Bhagalpur</option>
											<option>Patna</option>
											<option>Bihar-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Chhattisgarh-</i></font></option>
											<option>Bhillai</option>
											<option>Bilaspur</option>
											<option>Raipur</option>
											<option>Chhattisgarh-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Goa-</i></font></option>
											<option>Panjim/Panaji</option>
											<option>Vasco Da Gama</option>
											<option>Goa-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Gujarat-</i></font></option>
											<option>Ahmedabad</option>
											<option>Anand</option>
											<option>Ankleshwar</option>
											<option>Bharuch</option>
											<option>Bhavnagar</option>
											<option>Bhuj</option>
											<option>Gandhinagar</option>
											<option>Gir</option>
											<option>Jamnagar</option>
											<option>Kandla</option>
											<option>Porbandar</option>
											<option>Rajkot</option>
											<option>Surat</option>
											<option>Vadodara/Baroda</option>
											<option>Valsad</option>
											<option>Vapi</option>
											<option>Gujarat-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Haryana-</i></font></option>
											<option>Ambala</option>
											<option>Chandigarh</option>
											<option>Faridabad</option>
											<option>Gurgaon</option>
											<option>Hisar</option>
											<option>Karnal</option>
											<option>Kurukshetra</option>
											<option>Panipat</option>
											<option>Rohtak</option>
											<option>Haryana-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Himachal Pradesh-</i></font></option>
											<option>Dalhousie</option>
											<option>Dharmasala</option>
											<option>Kulu/Manali</option>
											<option>Shimla</option>
											<option>Himachal Pradesh-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Jammu and Kashmir-</i></font></option>
											<option>Jammu</option>
											<option>Srinagar</option>
											<option>Jammu and Kashmir-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Jharkhand-</i></font></option>
											<option>Bokaro</option>
											<option>Dhanbad</option>
											<option>Jamshedpur</option>
											<option>Ranchi</option>
											<option>Jharkhand-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Karnataka-</i></font></option>
											<option>Bengaluru/Bangalore</option>
											<option>Belgaum</option>
											<option>Bellary</option>
											<option>Bidar</option>
											<option>Dharwad</option>
											<option>Gulbarga</option>
											<option>Hubli</option>
											<option>Kolar</option>
											<option>Mangalore</option>
											<option>Mysoru/Mysore</option>
											<option>Karnataka-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Kerala-</i></font></option>
											<option>Calicut</option>
											<option>Cochin</option>
											<option>Ernakulam</option>
											<option>Kannur</option>
											<option>Kochi</option>
											<option>Kollam</option>
											<option>Kottayam</option>
											<option>Kozhikode</option>
											<option>Palakkad</option>
											<option>Palghat</option>
											<option>Thrissur</option>
											<option>Trivandrum</option>
											<option>Kerela-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Madhya Pradesh-</i></font></option>
											<option>Bhopal</option>
											<option>Gwalior</option>
											<option>Indore</option>
											<option>Jabalpur</option>
											<option>Ujjain</option>
											<option>Madhya Pradesh-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Maharashtra-</i></font></option>
											<option>Ahmednagar</option>
											<option>Aurangabad</option>
											<option>Jalgaon</option>
											<option>Kolhapur</option>
											<option>Mumbai</option>
											<option>Mumbai Suburbs</option>
											<option>Nagpur</option>
											<option>Nasik</option>
											<option>Navi Mumbai</option>
											<option>Pune</option>
											<option>Solapur</option>
											<option>Maharashtra-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Manipur-</i></font></option>
											<option>Imphal</option>
											<option>Manipur-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Meghalaya-</i></font></option>
											<option>Shillong</option>
											<option>Meghalaya-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Mizoram-</i></font></option>
											<option>Aizawal</option>
											<option>Mizoram-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Nagaland-</i></font></option>
											<option>Dimapur</option>
											<option>Nagaland-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Orissa-</i></font></option>
											<option>Bhubaneshwar</option>
											<option>Cuttak</option>
											<option>Paradeep</option>
											<option>Puri</option>
											<option>Rourkela</option>
											<option>Orissa-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Punjab-</i></font></option>
											<option>Amritsar</option>
											<option>Bathinda</option>
											<option>Chandigarh</option>
											<option>Jalandhar</option>
											<option>Ludhiana</option>
											<option>Mohali</option>
											<option>Pathankot</option>
											<option>Patiala</option>
											<option>Punjab-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Rajasthan-</i></font></option>
											<option>Ajmer</option>
											<option>Jaipur</option>
											<option>Jaisalmer</option>
											<option>Jodhpur</option>
											<option>Kota</option>
											<option>Udaipur</option>
											<option>Rajasthan-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Sikkim-</i></font></option>
											<option>Gangtok</option>
											<option>Sikkim-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Tamil Nadu-</i></font></option>
											<option>Chennai</option>
											<option>Coimbatore</option>
											<option>Cuddalore</option>
											<option>Erode</option>
											<option>Hosur</option>
											<option>Madurai</option>
											<option>Nagerkoil</option>
											<option>Ooty</option>
											<option>Salem</option>
											<option>Thanjavur</option>
											<option>Tirunalveli</option>
											<option>Trichy</option>
											<option>Tuticorin</option>
											<option>Vellore</option>
											<option>Tamil Nadu-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Tripura-</i></font></option>
											<option>Agartala</option>
											<option>Tripura-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Union Territories-</i></font></option>
											<option>Chandigarh</option>
											<option>Dadra & Nagar Haveli-Silvassa</option>
											<option>Daman & Diu</option>
											<option>Delhi</option>
											<option>Pondichery</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Uttar Pradesh-</i></font></option>
											<option>Agra</option>
											<option>Aligarh</option>
											<option>Allahabad</option>
											<option>Bareilly</option>
											<option>Faizabad</option>
											<option>Ghaziabad</option>
											<option>Gorakhpur</option>
											<option>Kanpur</option>
											<option>Lucknow</option>
											<option>Mathura</option>
											<option>Meerut</option>
											<option>Moradabad</option>
											<option>Noida</option>
											<option>Varanasi/Banaras</option>
											<option>Uttar Pradesh-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Uttaranchal-</i></font></option>
											<option>Dehradun</option>
											<option>Roorkee</option>
											<option>Uttaranchal-Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-West Bengal-</i></font></option>
											<option>Asansol</option>
											<option>Durgapur</option>
											<option>Haldia</option>
											<option>Kharagpur</option>
											<option>Kolkatta</option>
											<option>Siliguri</option>
											<option>West Bengal - Other</option>
											<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Other-</i></font></option>
											<option>Other</option> 
										</select>
										<br>
										<select required title="Select purpose of loan" name="creditcard_purpose_loan" id="creditcard_purpose_loan" class="form-control wsselectpicker required">
											<option value="Payment">Select your pupose of loan</option>
											<option value="Payment">Property Buying/Renovation</option>
											<option value="Recharge">Wedding/Medical Expenses</option>
											<option value="Booking">Buy furniture/Appliances</option>
											<option value="Payment">Vacation/Honeymoon expenses</option>
											<option value="Recharge">Buy vehicle old/new</option>
											<option value="Booking">business/working capital</option>
											<option value="Booking">other</option>
											 
										</select><br>
										
									
										   
										   <select title="Select Bank" class="form-control cselectpicker required" name="creditcard_prim_bank" id="creditcard_prim_bank" data-live-search="true" data-validation="required" data-validation-error-msg="Please choose your bank" shifindex="15" tabindex="15" autocomplete="Off">
												<option value="">-- primary bank of transaction --</option>
												<optgroup>
													<option value = "2" >HDFC</option><option value = "3" >SBI</option><option value = "6" >ICICI</option><option value = "27" >AXIS</option><option value = "28" >Standard Chartered Bank</option>                                            </optgroup>
												<optgroup>
													<option value = "39" >Abhyuday Co-op Bank Ltd</option><option value = "7" >Allahabad Bank</option><option value = "26" >Andhra Bank</option><option value = "5" >Bank of Baroda</option><option value = "8" >Bank of India</option><option value = "18" >Bank of Maharasthra</option><option value = "29" >Bank of Rajasthan</option><option value = "31" >Canara Bank</option><option value = "47" >Catholic Syrian Bank</option><option value = "9" >Central Bank of India</option><option value = "33" >Citibank</option><option value = "34" >Corporation bank</option><option value = "243" >DBS</option><option value = "11" >Dena Bank</option><option value = "35" >Deutsche Bank</option><option value = "23" >Dhanalakshmi Bank Ltd</option><option value = "32" >Federal Bank</option><option value = "1" >HSBC</option><option value = "40" >IDBI Bank</option><option value = "242" >IDFC Bank</option><option value = "36" >ING Vysya</option><option value = "51" >Indian Bank</option><option value = "37" >Indian Overseas Bank</option><option value = "67" >IndusInd Bank</option><option value = "21" >J&K Bank</option><option value = "48" >Karnataka Bank</option><option value = "41" >Karur Vysya Bank</option><option value = "17" >Kotak Bank</option><option value = "24" >Lakshmi Vilas bank</option><option value = "42" >Oriental Bank of Commerce</option><option value = "19" >Punjab & Sind bank</option><option value = "43" >Punjab National Bank</option><option value = "66" >RBL Bank Ltd</option><option value = "50" >Saraswat Bank</option><option value = "49" >South Indian Bank</option><option value = "15" >State Bank of Bikaner & Jaipur</option><option value = "13" >State Bank of Hyderabad</option><option value = "38" >State Bank of Indore</option><option value = "14" >State Bank of Mysore</option><option value = "44" >State Bank of Patiala</option><option value = "45" >State Bank of Travancore</option><option value = "20" >Syndicate Bank</option><option value = "22" >Tamilnad Mercantile Bank</option><option value = "16" >UCO Bank</option><option value = "10" >Union Bank of India</option><option value = "46" >United Bank of India</option><option value = "12" >Vijaya Bank</option><option value = "65" >Yes Bank</option>                                                                                            </optgroup>
											</select>
											<span class="salary_mode_step1_error_indicator help-block"></span>
									   
										
										
										<div class="input-group">
												<span class="input-group-addon">Rs</span>
												<input type="tel" placeholder="Total EMI you pay currently" class="form-control amount required" id="creditcard_current_emi" name="creditcard_current_emi" data-validation="number" data-validation-error-msg="Please enter an amount" maxlength="9"  shifindex="1" tabindex="1"  autocomplete="Off">
										</div>
										 
										
										 
										<!-- Residence Type -->
										
											   
										<select title="Select your Residence Type" class="form-control residence_type_id1 wsselectpicker required" id="creditcard_residence_type_id" name="creditcard_residence_type_id" data-validation="required" data-validation-error-msg="Please select Residence Type" shifindex="16" tabindex="16" autocomplete="Off">
												<option value="">--- Residence Type ---</option>
												<option  value="1">Self Owned</option>
												<option  value="19">Owned by Sibling</option>
												<option  value="2">Owned by Parents</option>
												<option  value="3">Rented</option>
										</select>
										<span class="residence_type_id_error_indicator help-block"></span>
										   
										<!--End--Residence type-->
										<label class="inputLabel">Date of Birth :</label><br>
										<input type="date" class="form-control" placeholder="dob" name="creditcard_dob" id="creditcard_dob" required data-validation-required-message="Please Enter Date of birth.">
										
										<br>
									<label class="inputLabel">Taken loan in past? &emsp;:&emsp;&emsp;</label>
									<input type="checkbox"  placeholder="smoke " name="creditcard_smoke" id="creditcard_smoke" required data-validation-required-message="Check whether smoke or not.">
									<br><br>
									
									
										

									</div>
								
									
									<div class="control-group form-group">
										<div class="controls">
				
											<label class="inputLabel">Personal Details :</label>
										
												<br><input type="text" class="form-control" placeholder="Enter your Name" name="creditcard_name" id="creditcard_name" required data-validation-required-message="Please enter your name.">
											
												<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="creditcard_email" id="creditcard_email" required data-validation-required-message="Please enter your email address.">
											
												<br><input type="tel" class="form-control" name="creditcard_phone" placeholder="Enter mobile Number" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
												
												<br><input type="text" pattern="[0-9]{5}" class="form-control" name="creditcard_pincode" placeholder="Enter pincode" id="creditcard_pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
												<br>
												<input type="checkbox" id="creditcard_terms" class="required" name="creditcard_terms" data-validation="required" data-validation-error-msg="Please select terms and conditions" shifindex="13" tabindex="13"  autocomplete="Off">
												<label for="terms">
															I have read and agree to <a href="/terms-of-use/" target="_blank">Terms of Use</a>
											</label>
												
										</div>
									</div>
										<div id="success"></div>
										<!-- For success/fail messages -->
										<button type="submit" class="submit btn btn-primary">Submit</button>
									<div class="clearfix"></div>	
									</form>
								
								</div>
								<div class="clearfix"> </div>
					
							</div>
	
			            </div>
                        
					
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	