<!-- Domestic Money Tranfer -->
			
	<div id="dmt-content">
		<div class="categories-section main-grid-border" id="mobilew3layouts">
			<div class="container">
				
					<label>DMT service is under upgradation, Please try later</label>
				
			</div>
		</div>
	</div>