
	<!-- Insurance Page-->
	<div id="insurance-content">
	
	<script src="suraj-pay2x/js/insurance_first_info.js"></script>
	
	<div class="categories-section main-grid-border" id="mobilew3layouts">
		<div class="container">
			<div class="category-list">
				<div id="parentVerticalTab">
					<div class="agileits-tab_nav">
					<ul class="resp-tabs-list hor_1">
						<li><i class="icon fa fa-mobile" aria-hidden="true"></i>Term Insurance</li>
						<li><i class="icon fa fa-television" aria-hidden="true"></i>Health Insurance</li>
						<li><i class="icon fa fa-credit-card" aria-hidden="true"></i>Car Insurance</li>
						<li><i class="icon fa fa-lightbulb-o" aria-hidden="true"></i>Bike Insurance</li>
						<li><i class="icon fa fa-phone" aria-hidden="true"></i>Heart Insurance</li>
						<li><i class="icon fa fa-connectdevelop" aria-hidden="true"></i>Cancer Insurance</li>
						<li><i class="icon fa fa-flask" aria-hidden="true"></i>Property Insurance</li>
						<li><i class="icon fa fa-tint" aria-hidden="true"></i>Travel Insurance</li>
					</ul>
					</div>
					<div class="resp-tabs-container hor_1">
                        <!-- tab1 -->
						<div>
                            <div class="tabs-box">
							
							<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
								 
							<article class="term_insurance_headings">
							
								<h2>Get the best Term Insurance for you</h2>
								<p>
									<ol>
										<li>Tax Benefits under section 80C and 10D</li>
										<li>Save Each penny you earn</li>
										<li>Accidental Death,Terminal & Critical Illness</li>
									</ol>
								</p>
							</article>
							</div>
						
							<div class="col-md-8 w3ls-supportform">
								<form  name="sentMessage" id="term_insurance_contactForm" novalidate>
								
								<div class="control-group form-group">
									<div class="controls">
										<input type="hidden" name="service_name" id="service_name" value="insurance"/>
										<input type="hidden" name="sub_service_name" id="sub_service_name" value="Term_Insurance"/>
										
										<select required name="amount" id="amount" class="form-control">
											<option value="-1">Please Enter The Amount</option>
											<option value="1">10 lakh</option>
											<option value="2">15 lakh</option>
											<option value="3">20 lakh</option>
											<option value="4">30 lakh</option>
											<option value="5">50 lakh</option>
											<option value="6">75 lakh</option>
											<option value="7">1 Cr</option>
										</select>
										<br>
										<label class="inputLabel">Date of Birth :</label><br>
										<input type="date" class="form-control" placeholder="dob" name="dob" id="dob" required data-validation-required-message="Please Enter Date of birth.">
											
										<br>
										<label class="inputLabel">Smoke? &emsp;:&emsp;&emsp;</label>
										<input type="checkbox"  placeholder="smoke" name="smoke" id="smoke" value="off" required data-validation-required-message="Check whether smoke or not.">
										<br><br>
									
										<label class="inputLabel">Annual Income :</label><br>
										
										<select required name="income" id="income" class="form-control">
											<option value="-1">Please Enter Income</option>
											<option value="1">Upto 3 lakh</option>
											<option value="2">3-5 lakh</option>
											<option value="3">5-7 lakh</option>
											<option value="4">7-9 lakh</option>
											<option value="5">9-12 lakh</option>
											<option value="6">12-15 lakh</option>
											<option value="7">15+ lakh</option>
										</select>
									</div>
								</div>
								
									<div class="control-group form-group">
										<div class="controls">
											<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required="" data-validation-required-message="Please enter your name.">
											<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="email" id="email" required="" data-validation-required-message="Please enter your email address.">
											<br><input type="tel" class="form-control" pattern="/(7|8|9)\d{9}/"  placeholder="Enter mobile Number" name="phone" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
											<br><input type="text" pattern="[0-9]{6}" placeholder="Enter pincode" class="form-control" name="pincode" id="pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
										</div>
									</div>
									<div id="success" class="success_none"> this is success text</div>
									<!-- For success/fail messages -->
									<button type="submit" id="submit" class=" btn-primary">Submit</button>
								<div class="clearfix"></div>	
								</form>
							</div>
               
			    
			
			<div class="clearfix"> </div>
		</div>
	<!-- script -->
		<script>
			$(document).ready(function() {
				$("#tab2").hide();
				$("#tab3").hide();
				$("#tab4").hide();
				$(".tabs-menu a").click(function(event){
					event.preventDefault();
					var tab=$(this).attr("href");
					$(".tab-grid").not(tab).css("display","none");
					$(tab).fadeIn("slow");
				});
			});
		</script>
                            
							
                            
            
                    
			             </div>
                        
						<!-- /tab1 -->
						
						<!-- tab2 -->
						<div>
							<div class="tabs-box">
									
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
										 
									<article class="health_insurance_headings">
										
										<h2>Get 5 Lac cover starting Rs 12.9/day</h2>
										<p>
											<ol>
												<li>Restoration Benefit on Sum Insured</li>
												<li>No Room Rent Capping</li>
												<li>Pre-hospitalization and Post hospitalization cove</li>
												<li>10,000+ hospitals for cashless treatment</li>
												<li>Instant Policy Purchase; Immediate Receipt</li>
												<li>Full & Free end to end assistance on claims</li>
											</ol>
										</p>
										
									</article>
								</div>
								
								<div class="col-md-8 w3ls-supportform">
								<form <form  name="sentMessage" id="health_insurance_contactForm" novalidate>
										
								<div class="control-group form-group">
								
								<div class="controls">

								<input type="hidden" id="service_name" 		name="service_name" 	value="insurance"/>
								<input type="hidden" id="sub_service_name" 	name="sub_service_name" value="health_insurance"/>

								
								<br>
								<label class="inputLabel">Annual Income :</label>
								<br>
							
								<select required class="form-control" name="income" id="income">
								  <option value="-1">Please Enter Income</option>
								  <option value="1">Upto 3 lakh</option>
								  <option value="2">3-5 lakh</option>
								  <option value="3">5-7 lakh</option>
								  <option value="4">7-9 lakh</option>
								  <option value="5">9-12 lakh</option>
								  <option value="6">12-15 lakh</option>
								  <option value="7">15+ lakh</option>
								</select>
								
									<br><br>
								<div id="health_insurance_person_details">
									<div id="health_insurance_person_detail_row">
										<label>1 person's age</label>
										<input type="text" class="form-control" placeholder="age" name="age" id="health_insurance_age1" required data-validation-required-message="Please enter Amount.">
										
									</div>
								</div>
								<br><br>
								<a id="addMorePerson"> Add more  </a>
								<a id="removePerson"> Remove Row </a>
									
								<br><br>
								<label class="inputLabel">Fill Person Details :</label>
									<br>
									
									<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required data-validation-required-message="Please enter your name.">
								<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="email" id="email" required data-validation-required-message="Please enter your email address.">
							
								<br><input type="tel" class="form-control" name="phone" placeholder="Enter mobile Number"  id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
								
								<br><input type="text" pattern="[0-9]{5}" class="form-control" name="pincode" placeholder="Enter pincode" id="pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
								
								
								</div>
								</div>
									
									<div id="success" class="success_none"></div>
									<!-- For success/fail messages -->
									<button type="submit" id="submit" class="submit btn btn-primary">Submit</button>
									<div class="clearfix"></div>	
									</form>
								</div>
					   
								<div class="clearfix"> </div>
							</div>
						</div>
							   
					   <!-- /tab2 -->
                        
                        <!-- tab3 -->
						<div>
							<div class="tabs-box">
									
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
										 
									<article class="car_insurance_headings">
										
										<h2>Get the best insurance for your vehicle</h2>
										<p>
											<ol>
											<li>Minimum pay maximum benefits</li>
											<li>Maximum no claim bonus</li>
											<li>True value of vehicle</li>
											
											
											</ol>
										</p>
										
									</article>
								</div>
								
								<div class="col-md-8 w3ls-supportform">
										<form  name="sentMessage" id="car_insurance_contactForm" novalidate>
										
										<div class="control-group form-group">
											<div class="controls">
											
											<input type="hidden" id="service_name" name="service_name" value="insurance"/>
											<input type="hidden" id="sub_service_name" name="sub_service_name" value="Car_Insurance"/>
											
											<br><label class="inputLabel">Fill Vehicle Details :</label><br>
											<br><input type="text" class="form-control" placeholder="Enter Reg. number (eg. DL-8-CN-8862) " name="reg_num" id="reg_num" required data-validation-required-message="Please enter your registration number.">
										
											<br><input type="text" class="form-control" placeholder="Enter city and RTO" name="rto" id="rto" required data-validation-required-message="Please enter city and RTO.">
											
											<br><input type="text" class="form-control" placeholder="Enter Menufecturer" name="manufecturer" id="manufecturer" required data-validation-required-message="Please enter Menufacturer.">
											
											<br><input type="text" class="form-control" placeholder="Enter Model" name="model" id="model" required data-validation-required-message="Please enter your name.">

											<br><label class="inputLabel">Fuel Type :</label><br>
											<select required id="fuel_type" name="fuel_type" class="form-control">
											  <option value="-1">Select the Vehicle Fuel Type</option>
											  <option value="1">CNG</option>
											  <option value="2">Petrol</option>
											  <option value="3">External CNG kit</option>
											</select>
											
											<br><input type="text" class="form-control" placeholder="Enter Variant" name="variant" id="variant" required data-validation-required-message="Please enter variant.">
											
											<br><input type="text" class="form-control" placeholder="Enter Registration Year" name="reg_yr" id="reg_yr" required data-validation-required-message="Please enter registration year.">
											
											<br><input type="text" class="form-control" placeholder="Enter Previous insurer" name="insurer" id="insurer" required data-validation-required-message="Please enter Previous insurer.">
											
											<br>
											<label class="inputLabel">Fill Personal Details :</label>
											<br>
											
											<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required data-validation-required-message="Please enter your name.">
										
											<br><input type="email" class="form-control" placeholder="Enter your Email ID" id="email" required data-validation-required-message="Please enter your email address.">
										
											<br><input type="tel" pattern="[0-9]{5}" class="form-control" placeholder="Enter mobile Number" name="phone"  id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
											
											<br><input type="text"  class="form-control" placeholder="Enter pincode" name="pincode" id="pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
											
											</div>
										</div>
										
											<div id="success"></div>
											<!-- For success/fail messages -->
											<button type="submit" id="submit" class="submit btn btn-primary">Submit</button>
										<div class="clearfix"></div>	
										</form>
								</div>
					   
								<div class="clearfix"> </div>
							</div>
						</div>
							
					   <!-- /tab3 -->
                        
                        
                        <!-- tab4 -->
                       <div>
							<div class="tabs-box">
									
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
										 
									<article class="bike_insurance_headings">
										
										<h2>Get the best insurance for your vehicle</h2>
										<p>
											<ol>
												<li>Minimum pay maximum benefits</li>
												<li>Maximum no claim bonus</li>
												<li>True value of vehicle</li>
											</ol>
										</p>
										
									</article>
								</div>
								
								<div class="col-md-8 w3ls-supportform">
										<form name="sentMessage" id="bike_insurance_contactForm" novalidate>
										
										<div class="control-group form-group">
											<div class="controls">
											
											<input type="hidden" id="service_name" name="service_name" value="insurance"/>
											<input type="hidden" id="sub_service_name" name="sub_service_name" value="Bike_Insurance"/>
											
												<br><label class="inputLabel">Fill Vehicle Details :</label><br>
												<br><input type="text" class="form-control" placeholder="Enter Reg. number (eg. DL-8-CN-8862) " name="reg_num" id="reg_num" required data-validation-required-message="Please enter your registration number.">
											
												<br><input type="text" class="form-control" placeholder="Enter city and RTO" name="rto" id="rto" required data-validation-required-message="Please enter city and RTO.">
												
												<br><input type="text" class="form-control" placeholder="Enter Menufecturer" name="manufecturer" id="manufecturer" required data-validation-required-message="Please enter Menufacturer.">
												
												<br><input type="text" class="form-control" placeholder="Enter Model" name="model" id="model" required data-validation-required-message="Please enter your name.">

											
												
												<br><input type="text" class="form-control" placeholder="Enter Variant" name="variant" id="variant" required data-validation-required-message="Please enter variant.">
												
												<br><input type="text" class="form-control" placeholder="Enter Registration Year" name="reg_yr" id="reg_yr" required data-validation-required-message="Please enter registration year.">
												
												<br><input type="text" class="form-control" placeholder="Enter Previous insurer" name="insurer" id="insurer" required data-validation-required-message="Please enter Previous insurer.">
												
												<br>
												<label class="inputLabel">Fill Personal Details :</label><br>
												
												<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required data-validation-required-message="Please enter your name.">
											
												<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="email" id="email" required data-validation-required-message="Please enter your email address.">
											
												<br><input type="tel" class="form-control" placeholder="Enter mobile Number" name="phone" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
												
												<br><input type="text" pattern="[0-9]{5}" class="form-control" placeholder="Enter pincode"  name="pincode" id="pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
												
												
										</div>
										</div>
										
											<div id="success"></div>
											<!-- For success/fail messages -->
											<button type="submit" id="submit" class="submit btn btn-primary">Submit</button>
										<div class="clearfix"></div>	
										</form>
								</div>
					   
								<div class="clearfix"> </div>
							</div>
						</div>
					   <!-- /tab4 -->
                        
                        
                        <!-- tab5 -->
						<div>
                            <div class="tabs-box">
							
							<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
								 
							<article class="heart_insurance_headings">
							
								<h2>Heart Insurance</h2>
								<h3>Care For Your Heart</h3>
								<p>
								<ol>
								<li>Payout at different stages</li>
								<li>Cover upto 50 Lacs</li>
								<li>Covers 19 Heart related illness</li>
								<li>Premium Waiver Benefit</li>
								<li>Inbuilt Life Cover</li>
								
								</ol>
								</p>
							
							</article>
							</div>
						
							<div class="col-md-8 w3ls-supportform">
								<form action="#" method="get" name="sentMessage" id="heart_insurance_contactForm" novalidate>
								

								<div class="control-group form-group">
									<div class="controls">
										<input type="hidden" name="service_name" id="service_name" value="insurance"/>
										<input type="hidden" name="sub_service_name" id="sub_service_name" value="heart_Insurance"/>
										
										<select required name="amount" id="amount" class="form-control">
											<option value="-1">Please Enter The Amount</option>
											<option value="1">10 lakh</option>
											<option value="2">15 lakh</option>
											<option value="3">20 lakh</option>
											<option value="4">30 lakh</option>
											<option value="5">50 lakh</option>
											<option value="6">75 lakh</option>
											<option value="7">1 Cr</option>
										</select>
										<br>
										<label class="inputLabel">Date of Birth :</label><br>
										<input type="date" class="form-control" placeholder="dob" name="dob" id="dob" required data-validation-required-message="Please Enter Date of birth.">
											
										<br>
										<label class="inputLabel">Smoke? &emsp;:&emsp;&emsp;</label>
										<input type="checkbox"  placeholder="smoke" name="smoke" id="smoke" value="off" required data-validation-required-message="Check whether smoke or not.">
										<br><br>
									
										<label class="inputLabel">Annual Income :</label><br>
										
										<select required name="income" id="income" class="form-control">
											<option value="-1">Please Enter Income</option>
											<option value="1">Upto 3 lakh</option>
											<option value="2">3-5 lakh</option>
											<option value="3">5-7 lakh</option>
											<option value="4">7-9 lakh</option>
											<option value="5">9-12 lakh</option>
											<option value="6">12-15 lakh</option>
											<option value="7">15+ lakh</option>
										</select>
									</div>
								</div>
								
									<div class="control-group form-group">
										<div class="controls">
											<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required="" data-validation-required-message="Please enter your name.">
											<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="email" id="email" required="" data-validation-required-message="Please enter your email address.">
											<br><input type="tel" class="form-control" pattern="/(7|8|9)\d{9}/"  placeholder="Enter mobile Number" name="phone" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
											<br><input type="text" pattern="[0-9]{6}" placeholder="Enter pincode" class="form-control" name="pincode" id="pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
										</div>
									</div>
									<div id="success" class="success_none"> this is success text</div>
									<!-- For success/fail messages -->
									<button type="submit" id="submit" class=" btn-primary">Submit</button>
								<div class="clearfix"></div>	
								</form>
							</div>
               
			     <div class="clearfix"> </div>
			    
			
			<div class="clearfix"> </div>
		</div>
	<!-- script -->
		<script>
			$(document).ready(function() {
				$("#tab2").hide();
				$("#tab3").hide();
				$("#tab4").hide();
				$(".tabs-menu a").click(function(event){
					event.preventDefault();
					var tab=$(this).attr("href");
					$(".tab-grid").not(tab).css("display","none");
					$(tab).fadeIn("slow");
				});
			});
		</script>
                            
							
                            
            
                    
			             </div>
                        
						<!-- /tab5 -->
                        <!-- tab6 -->
						<div>
                            <div class="tabs-box">
							
							<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
								 
							<article class="cancer_insurance_headings">
							
								<h2>Cancer Insurance</h2>
								<h3>Act Before Cancer Does</h3>
								
								<p>
									<ol>
										<li>Payout for all Cancer stages</li>
										<li>Upto 150% of payout on Critical Stage</li>
										<li>Premium Waiver Benefit</li>
										<li>Monthly Income Option</li>
										<li>Cover starting from Rs 40 per month*</li>
										<li>Inbuilt Life Cover</li>
									</ol>
								</p>
							
							</article>
							</div>
						
							<div class="col-md-8 w3ls-supportform">
								<form action="#" method="get" name="sentMessage" id="cancer_insurance_contactForm" novalidate>
								
								
								<div class="control-group form-group">
									<div class="controls">
										<input type="hidden" name="service_name" id="service_name" value="insurance"/>
										<input type="hidden" name="sub_service_name" id="sub_service_name" value="cancer_insurance"/>
										
										<select required name="amount" id="amount" class="form-control">
											<option value="-1">Please Enter The Amount</option>
											<option value="1">10 lakh</option>
											<option value="2">15 lakh</option>
											<option value="3">20 lakh</option>
											<option value="4">30 lakh</option>
											<option value="5">50 lakh</option>
											<option value="6">75 lakh</option>
											<option value="7">1 Cr</option>
										</select>
										<br>
										<label class="inputLabel">Date of Birth :</label><br>
										<input type="date" class="form-control" placeholder="dob" name="dob" id="dob" required data-validation-required-message="Please Enter Date of birth.">
											
										<br>
										<label class="inputLabel">Smoke? &emsp;:&emsp;&emsp;</label>
										<input type="checkbox"  placeholder="smoke" name="smoke" id="smoke" value="off" required data-validation-required-message="Check whether smoke or not.">
										<br><br>
									
										<label class="inputLabel">Annual Income :</label><br>
										
										<select required name="income" id="income" class="form-control">
											<option value="-1">Please Enter Income</option>
											<option value="1">Upto 3 lakh</option>
											<option value="2">3-5 lakh</option>
											<option value="3">5-7 lakh</option>
											<option value="4">7-9 lakh</option>
											<option value="5">9-12 lakh</option>
											<option value="6">12-15 lakh</option>
											<option value="7">15+ lakh</option>
										</select>
									</div>
								</div>
								
									<div class="control-group form-group">
										<div class="controls">
											<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required="" data-validation-required-message="Please enter your name.">
											<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="email" id="email" required="" data-validation-required-message="Please enter your email address.">
											<br><input type="tel" class="form-control" pattern="/(7|8|9)\d{9}/"  placeholder="Enter mobile Number" name="phone" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
											<br><input type="text" pattern="[0-9]{6}" placeholder="Enter pincode" class="form-control" name="pincode" id="pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
										</div>
									</div>
									<div id="success" class="success_none"> this is success text</div>
									<!-- For success/fail messages -->
									<button type="submit" id="submit" class=" btn-primary">Submit</button>
								<div class="clearfix"></div>	
								</form>
							</div>
               
			     <div class="clearfix"> </div>
			    
			
			<div class="clearfix"> </div>
		</div>
	<!-- script -->
		<script>
			$(document).ready(function() {
				$("#tab2").hide();
				$("#tab3").hide();
				$("#tab4").hide();
				$(".tabs-menu a").click(function(event){
					event.preventDefault();
					var tab=$(this).attr("href");
					$(".tab-grid").not(tab).css("display","none");
					$(tab).fadeIn("slow");
				});
			});
		</script>
                            
							
                            
            
                    
			             </div>
                        
					   <!-- /tab6 -->
                        
                        <!-- tab7 -->
						<div>
                            <div class="tabs-box">
							
							<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
								 
							<article class="headings" id="property_insurance_headings">
							
								<h2>What is property insurance</h2>
								<h3>Insurance your property, secure your money</h3>
								<p>
								Home Insurance provides coverage for the loss or damage to your personal property 
								and possessions against natural and man-made calamities.Natural - Fire, Storm, 
								Earthquake, Tornado, Cyclone, Flood, Landslide, LightningMan-Made - Fire, Burglary, 
								Theft, Aircraft Damage, Malicious Damage, Terrorism, Strike, Riot, ExplosionHowever,
								what is covered and what is not, varies from company to company and plan to plan. For 
								instance, many home insurance plans exclude Terrorism, Strike, Riot, Explosion.</p>
								
							
							</article>
							</div>
						
						
							<div class="col-md-8 w3ls-supportform">
								<form  name="sentMessage" id="property_insurance_contactForm" novalidate>
								
								<div class="control-group form-group">
									<div class="controls">
									
									
									<input type="hidden" name="service_name" id="service_name" value="insurance"/>
									<input type="hidden" name="sub_service_name" id="sub_service_name" value="property_insurance"/>
									<br>
									<label class="inputLabel">Property Categoryy :</label><br>
										<select required id="property_cat" class="form-control">
											<option value="-1">Select Property category</option>
											<option value="1">Residential</option>
											<option value="2">Commercial</option>
											<option value="3">Industrial</option>
											<option value="4">other</option>
										</select>	
									
									<br>
									<label class="inputLabel">Property Ownership :</label><br>
										<select required id="property_owner" class="form-control">
											<option value="-1">Select Property Ownership</option>
											<option value="1">Rented</option>
											<option value="2">Self Owned</option>
											<option value="3">other</option>
										</select>
										
									<br>
									<input type="text" class="form-control" placeholder="Age of property" name="age" id="age" required data-validation-required-message="Please enter Age of property">
										
									<br>
									
									<label class="inputLabel">Property Type : </label><br>
										<select required id="property_type" class="form-control">
											<option value="-1">Select Property Type</option>
											<option value="1">Flat</option>
											<option value="2">Individual house</option>
											<option value="3">other</option>
										</select>	
									<br>
									
									<label class="inputLabel">Risc to be covered :</label><br>
										<select required id="risc_covered" class="form-control">
											<option value="-1">Select Risc to be covered</option>
											<option value="1">Structure + Content</option>
											<option value="2">Only Structure</option>
											<option value="3">Only Content</option>
										</select>
									<br>
									
									
									
									<label class="inputLabel">Covers for property :</label><br>
									<select required id="sum" class="form-control">
											<option value="-1">Select sum Insured(10L to 2Cr)</option>
											<option value="1">10L</option>
											<option value="2">15L</option>
											<option value="3">20L</option>
											<option value="4">25L</option>
											<option value="5">30L</option>
											<option value="6">40L</option>
											<option value="7">50L</option>
											<option value="8">75L</option>
											<option value="9">1Cr</option>
											<option value="10">1.25Cr</option>
											<option value="11">1.5Cr</option>
											<option value="12">2Cr</option>
										</select>
									<br>
									<select required id="furniture" class="form-control">
											<option value="-1">Select furniture sum Insured(1L to 10L)</option>
											<option value="1">1L</option>
											<option value="2">1.5L</option>
											<option value="3">2L</option>
											<option value="4">2.5L</option>
											<option value="5">3L</option>
											<option value="6">4L</option>
											<option value="7">5L</option>
											<option value="8">7.5L</option>
											<option value="9">10L</option>
										</select>
									<br>
									<select required id="elec_break" class="form-control">
											<option value="-1">Select Electronics equipment breakdown(50K to 3L)</option>
											<option value="1">50K</option>
											<option value="2">75K</option>
											<option value="3">1L</option>
											<option value="4">1.25L</option>
											<option value="5">1.5L</option>
											<option value="6">2L</option>
											<option value="7">2.5L</option>
											<option value="8">3L</option>
											
										</select>
									<br>
									<select required id="elec_app_break" class="form-control">
											<option value="-1">Select Electronics appliances breakdown(50K to 3L)</option>
											<option value="1">50K</option>
											<option value="2">75K</option>
											<option value="3">1L</option>
											<option value="4">1.25L</option>
											<option value="5">1.5L</option>
											<option value="6">2L</option>
											<option value="7">2.5L</option>
											<option value="8">3L</option>
										</select>
									<br>
									<select required id="fire" class="form-control">
											<option value="-1">Select Sum insured for Content Cover for Fire and Allied Perils</option>
											<option value="1">50K</option>
											<option value="2">75K</option>
											<option value="3">1L</option>
											<option value="4">1.25L</option>
											<option value="5">1.5L</option>
											<option value="6">2L</option>
											<option value="7">2.5L</option>
											<option value="8">3L</option>
										</select>
									<br>
									
									<br>
									<label class="inputLabel">Include Burglary cover? &emsp;:&emsp;&emsp;</label>
									<input type="checkbox" name="burglary" id="burglary" required data-validation-required-message="include burglary">
									<br><br>
									
									<label class="inputLabel">Secured Measures :</label><br>
										<select required id="secured_measures" class="form-control">
											<option value="-1">None</option>
											<option value="1">24 Hrs Security Guard</option>
											<option value="2">Security Alarm</option>
											<option value="3">Camera Secured</option>
											<option value="4">All</option>
											<option value="5">Other</option>
										</select>
									<br>
									</div>
								</div>
								
								<div class="control-group form-group">
									<div class="controls">
									
									<label class="inputLabel">Pesonal Details :</label>
									<br>
										<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required="" data-validation-required-message="Please enter your name.">
									
										<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="email" id="email" required="" data-validation-required-message="Please enter your email address.">
									
										<br><input type="tel" class="form-control" placeholder="Enter mobile Number" name="phone" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
										
										<br><input type="text" pattern="[0-9]{5}" class="form-control" placeholder="Enter pincode" name="pincode" id="pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
										
								</div>
								</div>
									<div id="success"></div>
									<!-- For success/fail messages -->
									<button type="submit" id="submit" class="submit btn btn-primary">Submit</button>
								<div class="clearfix"></div>	
								</form>
							</div>
               
			     <div class="clearfix"> </div>
			    
			
			<div class="clearfix"> </div>
		</div>

                            
							
                            
            
                    
			             </div>
                        
                       
						<!-- /tab7 -->
                        
                        <!-- tab8 -->
						<div>
                            <div class="tabs-box">
                                
							<ul class="tabs-menu">
								<li><a href="#tab1"><label class="radio"><input type="radio" name="radio" checked=""><i></i>Family/Individual</label></a></li>
								<li><a href="#tab2"><label class="radio"><input type="radio" name="radio"><i></i>Group/student</label></a></li>
							</ul>
						<div class="clearfix"> </div>
							<div class="tab-grids">
								<div id="tab1" class="tab-grid">  
									<div class="login-form">	
						<form   id="trav_fam_insurance_contactForm">

									<input type="hidden" id="service_name" name="service_name" value="insurance"/>
									<input type="hidden" id="sub_service_name"  name="sub_service_name" value="travel_family_insurance"/>						
									<br>
							<label class="inputLabel">Destination country :</label>
							<br>
									<select required id="dest_country" class="form-control">
									<option value="-1">Select Destination Country</option>
									<option value="Afghanistan">Afghanistan</option>
									<option value="Albania">Albania</option>
									<option value="Algeria">Algeria</option>
									<option value="American Samoa">American Samoa</option>
									<option value="Andorra">Andorra</option>
									<option value="Angola">Angola</option>
									<option value="Anguilla">Anguilla</option>
									<option value="Antartica">Antarctica</option>
									<option value="Antigua and Barbuda">Antigua and Barbuda</option>
									<option value="Argentina">Argentina</option>
									<option value="Armenia">Armenia</option>
									<option value="Aruba">Aruba</option>
									<option value="Australia">Australia</option>
									<option value="Austria">Austria</option>
									<option value="Azerbaijan">Azerbaijan</option>
									<option value="Bahamas">Bahamas</option>
									<option value="Bahrain">Bahrain</option>
									<option value="Bangladesh">Bangladesh</option>
									<option value="Barbados">Barbados</option>
									<option value="Belarus">Belarus</option>
									<option value="Belgium">Belgium</option>
									<option value="Belize">Belize</option>
									<option value="Benin">Benin</option>
									<option value="Bermuda">Bermuda</option>
									<option value="Bhutan">Bhutan</option>
									<option value="Bolivia">Bolivia</option>
									<option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
									<option value="Botswana">Botswana</option>
									<option value="Bouvet Island">Bouvet Island</option>
									<option value="Brazil">Brazil</option>
									<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
									<option value="Brunei Darussalam">Brunei Darussalam</option>
									<option value="Bulgaria">Bulgaria</option>
									<option value="Burkina Faso">Burkina Faso</option>
									<option value="Burundi">Burundi</option>
									<option value="Cambodia">Cambodia</option>
									<option value="Cameroon">Cameroon</option>
									<option value="Canada">Canada</option>
									<option value="Cape Verde">Cape Verde</option>
									<option value="Cayman Islands">Cayman Islands</option>
									<option value="Central African Republic">Central African Republic</option>
									<option value="Chad">Chad</option>
									<option value="Chile">Chile</option>
									<option value="China">China</option>
									<option value="Christmas Island">Christmas Island</option>
									<option value="Cocos Islands">Cocos (Keeling) Islands</option>
									<option value="Colombia">Colombia</option>
									<option value="Comoros">Comoros</option>
									<option value="Congo">Congo</option>
									<option value="Congo">Congo, the Democratic Republic of the</option>
									<option value="Cook Islands">Cook Islands</option>
									<option value="Costa Rica">Costa Rica</option>
									<option value="Cota D'Ivoire">Cote d'Ivoire</option>
									<option value="Croatia">Croatia (Hrvatska)</option>
									<option value="Cuba">Cuba</option>
									<option value="Cyprus">Cyprus</option>
									<option value="Czech Republic">Czech Republic</option>
									<option value="Denmark">Denmark</option>
									<option value="Djibouti">Djibouti</option>
									<option value="Dominica">Dominica</option>
									<option value="Dominican Republic">Dominican Republic</option>
									<option value="East Timor">East Timor</option>
									<option value="Ecuador">Ecuador</option>
									<option value="Egypt">Egypt</option>
									<option value="El Salvador">El Salvador</option>
									<option value="Equatorial Guinea">Equatorial Guinea</option>
									<option value="Eritrea">Eritrea</option>
									<option value="Estonia">Estonia</option>
									<option value="Ethiopia">Ethiopia</option>
									<option value="Falkland Islands">Falkland Islands (Malvinas)</option>
									<option value="Faroe Islands">Faroe Islands</option>
									<option value="Fiji">Fiji</option>
									<option value="Finland">Finland</option>
									<option value="France">France</option>
									<option value="France Metropolitan">France, Metropolitan</option>
									<option value="French Guiana">French Guiana</option>
									<option value="French Polynesia">French Polynesia</option>
									<option value="French Southern Territories">French Southern Territories</option>
									<option value="Gabon">Gabon</option>
									<option value="Gambia">Gambia</option>
									<option value="Georgia">Georgia</option>
									<option value="Germany">Germany</option>
									<option value="Ghana">Ghana</option>
									<option value="Gibraltar">Gibraltar</option>
									<option value="Greece">Greece</option>
									<option value="Greenland">Greenland</option>
									<option value="Grenada">Grenada</option>
									<option value="Guadeloupe">Guadeloupe</option>
									<option value="Guam">Guam</option>
									<option value="Guatemala">Guatemala</option>
									<option value="Guinea">Guinea</option>
									<option value="Guinea-Bissau">Guinea-Bissau</option>
									<option value="Guyana">Guyana</option>
									<option value="Haiti">Haiti</option>
									<option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
									<option value="Holy See">Holy See (Vatican City State)</option>
									<option value="Honduras">Honduras</option>
									<option value="Hong Kong">Hong Kong</option>
									<option value="Hungary">Hungary</option>
									<option value="Iceland">Iceland</option>
									<option value="India">India</option>
									<option value="Indonesia">Indonesia</option>
									<option value="Iran">Iran (Islamic Republic of)</option>
									<option value="Iraq">Iraq</option>
									<option value="Ireland">Ireland</option>
									<option value="Israel">Israel</option>
									<option value="Italy">Italy</option>
									<option value="Jamaica">Jamaica</option>
									<option value="Japan">Japan</option>
									<option value="Jordan">Jordan</option>
									<option value="Kazakhstan">Kazakhstan</option>
									<option value="Kenya">Kenya</option>
									<option value="Kiribati">Kiribati</option>
									<option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
									<option value="Korea">Korea, Republic of</option>
									<option value="Kuwait">Kuwait</option>
									<option value="Kyrgyzstan">Kyrgyzstan</option>
									<option value="Lao">Lao People's Democratic Republic</option>
									<option value="Latvia">Latvia</option>
									<option value="Lebanon" selected>Lebanon</option>
									<option value="Lesotho">Lesotho</option>
									<option value="Liberia">Liberia</option>
									<option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
									<option value="Liechtenstein">Liechtenstein</option>
									<option value="Lithuania">Lithuania</option>
									<option value="Luxembourg">Luxembourg</option>
									<option value="Macau">Macau</option>
									<option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
									<option value="Madagascar">Madagascar</option>
									<option value="Malawi">Malawi</option>
									<option value="Malaysia">Malaysia</option>
									<option value="Maldives">Maldives</option>
									<option value="Mali">Mali</option>
									<option value="Malta">Malta</option>
									<option value="Marshall Islands">Marshall Islands</option>
									<option value="Martinique">Martinique</option>
									<option value="Mauritania">Mauritania</option>
									<option value="Mauritius">Mauritius</option>
									<option value="Mayotte">Mayotte</option>
									<option value="Mexico">Mexico</option>
									<option value="Micronesia">Micronesia, Federated States of</option>
									<option value="Moldova">Moldova, Republic of</option>
									<option value="Monaco">Monaco</option>
									<option value="Mongolia">Mongolia</option>
									<option value="Montserrat">Montserrat</option>
									<option value="Morocco">Morocco</option>
									<option value="Mozambique">Mozambique</option>
									<option value="Myanmar">Myanmar</option>
									<option value="Namibia">Namibia</option>
									<option value="Nauru">Nauru</option>
									<option value="Nepal">Nepal</option>
									<option value="Netherlands">Netherlands</option>
									<option value="Netherlands Antilles">Netherlands Antilles</option>
									<option value="New Caledonia">New Caledonia</option>
									<option value="New Zealand">New Zealand</option>
									<option value="Nicaragua">Nicaragua</option>
									<option value="Niger">Niger</option>
									<option value="Nigeria">Nigeria</option>
									<option value="Niue">Niue</option>
									<option value="Norfolk Island">Norfolk Island</option>
									<option value="Northern Mariana Islands">Northern Mariana Islands</option>
									<option value="Norway">Norway</option>
									<option value="Oman">Oman</option>
									<option value="Pakistan">Pakistan</option>
									<option value="Palau">Palau</option>
									<option value="Panama">Panama</option>
									<option value="Papua New Guinea">Papua New Guinea</option>
									<option value="Paraguay">Paraguay</option>
									<option value="Peru">Peru</option>
									<option value="Philippines">Philippines</option>
									<option value="Pitcairn">Pitcairn</option>
									<option value="Poland">Poland</option>
									<option value="Portugal">Portugal</option>
									<option value="Puerto Rico">Puerto Rico</option>
									<option value="Qatar">Qatar</option>
									<option value="Reunion">Reunion</option>
									<option value="Romania">Romania</option>
									<option value="Russia">Russian Federation</option>
									<option value="Rwanda">Rwanda</option>
									<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option> 
									<option value="Saint LUCIA">Saint LUCIA</option>
									<option value="Saint Vincent">Saint Vincent and the Grenadines</option>
									<option value="Samoa">Samoa</option>
									<option value="San Marino">San Marino</option>
									<option value="Sao Tome and Principe">Sao Tome and Principe</option> 
									<option value="Saudi Arabia">Saudi Arabia</option>
									<option value="Senegal">Senegal</option>
									<option value="Seychelles">Seychelles</option>
									<option value="Sierra">Sierra Leone</option>
									<option value="Singapore">Singapore</option>
									<option value="Slovakia">Slovakia (Slovak Republic)</option>
									<option value="Slovenia">Slovenia</option>
									<option value="Solomon Islands">Solomon Islands</option>
									<option value="Somalia">Somalia</option>
									<option value="South Africa">South Africa</option>
									<option value="South Georgia">South Georgia and the South Sandwich Islands</option>
									<option value="Span">Spain</option>
									<option value="SriLanka">Sri Lanka</option>
									<option value="St. Helena">St. Helena</option>
									<option value="St. Pierre and Miguelon">St. Pierre and Miquelon</option>
									<option value="Sudan">Sudan</option>
									<option value="Suriname">Suriname</option>
									<option value="Svalbard">Svalbard and Jan Mayen Islands</option>
									<option value="Swaziland">Swaziland</option>
									<option value="Sweden">Sweden</option>
									<option value="Switzerland">Switzerland</option>
									<option value="Syria">Syrian Arab Republic</option>
									<option value="Taiwan">Taiwan, Province of China</option>
									<option value="Tajikistan">Tajikistan</option>
									<option value="Tanzania">Tanzania, United Republic of</option>
									<option value="Thailand">Thailand</option>
									<option value="Togo">Togo</option>
									<option value="Tokelau">Tokelau</option>
									<option value="Tonga">Tonga</option>
									<option value="Trinidad and Tobago">Trinidad and Tobago</option>
									<option value="Tunisia">Tunisia</option>
									<option value="Turkey">Turkey</option>
									<option value="Turkmenistan">Turkmenistan</option>
									<option value="Turks and Caicos">Turks and Caicos Islands</option>
									<option value="Tuvalu">Tuvalu</option>
									<option value="Uganda">Uganda</option>
									<option value="Ukraine">Ukraine</option>
									<option value="United Arab Emirates">United Arab Emirates</option>
									<option value="United Kingdom">United Kingdom</option>
									<option value="United States">United States</option>
									<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
									<option value="Uruguay">Uruguay</option>
									<option value="Uzbekistan">Uzbekistan</option>
									<option value="Vanuatu">Vanuatu</option>
									<option value="Venezuela">Venezuela</option>
									<option value="Vietnam">Viet Nam</option>
									<option value="Virgin Islands (British)">Virgin Islands (British)</option>
									<option value="Virgin Islands (U.S)">Virgin Islands (U.S.)</option>
									<option value="Wallis and Futana Islands">Wallis and Futuna Islands</option>
									<option value="Western Sahara">Western Sahara</option>
									<option value="Yemen">Yemen</option>
									<option value="Yugoslavia">Yugoslavia</option>
									<option value="Zambia">Zambia</option>
									<option value="Zimbabwe">Zimbabwe</option>
								</select>
							
							<br>
									
								<label class="inputLabel">Age Of Traveller</label><br>
								<br>
								<div id="travel_fam_insurance_person_details">
									<div id="travel_fam_insurance_person_detail_row">
										<label>1 person's age</label>
										<input type="text" class="form-control" placeholder="age" name="age" id="travel_fam_insurance_age1" required data-validation-required-message="Please enter Amount.">
										
									</div>
								</div>
								<br><br>
								<a id="addMoreTravelerFam"> Add more  </a>
								<a id="removeTravelerFam"> Remove Row </a>
								
								
								<br>	
								<br>
								<label class="inputLabel">Start Date : </label><br>
								<input type="date" class="form-control" id="startDate">
								<br>
								<label class="inputLabel">End Date : </label><br>
								<input type="date" class="form-control" id="EndDate">
								<br><br>
								<div class="control-group form-group">
									<div class="controls">
									
									<label class="inputLabel">Pesonal Details :</label>
									<br>
										<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required="" data-validation-required-message="Please enter your name.">
									
										<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="email" id="email" required="" data-validation-required-message="Please enter your email address.">
									
										<br><input type="tel" class="form-control" placeholder="Enter mobile Number" name="phone" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
										
										<br><input type="text" pattern="[0-9]{5}" class="form-control" placeholder="Enter pincode" name="pincode" id="pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
										
								</div>
								</div>
								<div id="success"></div>
									<!-- For success/fail messages -->
									<button type="submit" id="submit" class="submit btn btn-primary">Submit</button>
								<div class="clearfix"></div>	
								
						</form>	
																							
						</div>	

                    </div>
                    <div id="tab2" class="tab-grid">
		                      <div class="login-form">
						<form  id="travel_insurance_group_form">

											<input type="hidden" name="service_name" 	id="service_name" value="insurance"/>
											<input type="hidden" name="sub_service_name" id="sub_service_name" value="Travel_group_Insurance"/>						
											<br>
											<label class="inputLabel">Destination countary :</label>
											<br>
											
										<select required id="dest_country" class="form-control">
											<option value="-1">Select the Destination Country</option>
											<option value="Afghanistan">Afghanistan</option>
											<option value="Albania">Albania</option>
											<option value="Algeria">Algeria</option>
											<option value="American Samoa">American Samoa</option>
											<option value="Andorra">Andorra</option>
											<option value="Angola">Angola</option>
											<option value="Anguilla">Anguilla</option>
											<option value="Antartica">Antarctica</option>
											<option value="Antigua and Barbuda">Antigua and Barbuda</option>
											<option value="Argentina">Argentina</option>
											<option value="Armenia">Armenia</option>
											<option value="Aruba">Aruba</option>
											<option value="Australia">Australia</option>
											<option value="Austria">Austria</option>
											<option value="Azerbaijan">Azerbaijan</option>
											<option value="Bahamas">Bahamas</option>
											<option value="Bahrain">Bahrain</option>
											<option value="Bangladesh">Bangladesh</option>
											<option value="Barbados">Barbados</option>
											<option value="Belarus">Belarus</option>
											<option value="Belgium">Belgium</option>
											<option value="Belize">Belize</option>
											<option value="Benin">Benin</option>
											<option value="Bermuda">Bermuda</option>
											<option value="Bhutan">Bhutan</option>
											<option value="Bolivia">Bolivia</option>
											<option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
											<option value="Botswana">Botswana</option>
											<option value="Bouvet Island">Bouvet Island</option>
											<option value="Brazil">Brazil</option>
											<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
											<option value="Brunei Darussalam">Brunei Darussalam</option>
											<option value="Bulgaria">Bulgaria</option>
											<option value="Burkina Faso">Burkina Faso</option>
											<option value="Burundi">Burundi</option>
											<option value="Cambodia">Cambodia</option>
											<option value="Cameroon">Cameroon</option>
											<option value="Canada">Canada</option>
											<option value="Cape Verde">Cape Verde</option>
											<option value="Cayman Islands">Cayman Islands</option>
											<option value="Central African Republic">Central African Republic</option>
											<option value="Chad">Chad</option>
											<option value="Chile">Chile</option>
											<option value="China">China</option>
											<option value="Christmas Island">Christmas Island</option>
											<option value="Cocos Islands">Cocos (Keeling) Islands</option>
											<option value="Colombia">Colombia</option>
											<option value="Comoros">Comoros</option>
											<option value="Congo">Congo</option>
											<option value="Congo">Congo, the Democratic Republic of the</option>
											<option value="Cook Islands">Cook Islands</option>
											<option value="Costa Rica">Costa Rica</option>
											<option value="Cota D'Ivoire">Cote d'Ivoire</option>
											<option value="Croatia">Croatia (Hrvatska)</option>
											<option value="Cuba">Cuba</option>
											<option value="Cyprus">Cyprus</option>
											<option value="Czech Republic">Czech Republic</option>
											<option value="Denmark">Denmark</option>
											<option value="Djibouti">Djibouti</option>
											<option value="Dominica">Dominica</option>
											<option value="Dominican Republic">Dominican Republic</option>
											<option value="East Timor">East Timor</option>
											<option value="Ecuador">Ecuador</option>
											<option value="Egypt">Egypt</option>
											<option value="El Salvador">El Salvador</option>
											<option value="Equatorial Guinea">Equatorial Guinea</option>
											<option value="Eritrea">Eritrea</option>
											<option value="Estonia">Estonia</option>
											<option value="Ethiopia">Ethiopia</option>
											<option value="Falkland Islands">Falkland Islands (Malvinas)</option>
											<option value="Faroe Islands">Faroe Islands</option>
											<option value="Fiji">Fiji</option>
											<option value="Finland">Finland</option>
											<option value="France">France</option>
											<option value="France Metropolitan">France, Metropolitan</option>
											<option value="French Guiana">French Guiana</option>
											<option value="French Polynesia">French Polynesia</option>
											<option value="French Southern Territories">French Southern Territories</option>
											<option value="Gabon">Gabon</option>
											<option value="Gambia">Gambia</option>
											<option value="Georgia">Georgia</option>
											<option value="Germany">Germany</option>
											<option value="Ghana">Ghana</option>
											<option value="Gibraltar">Gibraltar</option>
											<option value="Greece">Greece</option>
											<option value="Greenland">Greenland</option>
											<option value="Grenada">Grenada</option>
											<option value="Guadeloupe">Guadeloupe</option>
											<option value="Guam">Guam</option>
											<option value="Guatemala">Guatemala</option>
											<option value="Guinea">Guinea</option>
											<option value="Guinea-Bissau">Guinea-Bissau</option>
											<option value="Guyana">Guyana</option>
											<option value="Haiti">Haiti</option>
											<option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
											<option value="Holy See">Holy See (Vatican City State)</option>
											<option value="Honduras">Honduras</option>
											<option value="Hong Kong">Hong Kong</option>
											<option value="Hungary">Hungary</option>
											<option value="Iceland">Iceland</option>
											<option value="India">India</option>
											<option value="Indonesia">Indonesia</option>
											<option value="Iran">Iran (Islamic Republic of)</option>
											<option value="Iraq">Iraq</option>
											<option value="Ireland">Ireland</option>
											<option value="Israel">Israel</option>
											<option value="Italy">Italy</option>
											<option value="Jamaica">Jamaica</option>
											<option value="Japan">Japan</option>
											<option value="Jordan">Jordan</option>
											<option value="Kazakhstan">Kazakhstan</option>
											<option value="Kenya">Kenya</option>
											<option value="Kiribati">Kiribati</option>
											<option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
											<option value="Korea">Korea, Republic of</option>
											<option value="Kuwait">Kuwait</option>
											<option value="Kyrgyzstan">Kyrgyzstan</option>
											<option value="Lao">Lao People's Democratic Republic</option>
											<option value="Latvia">Latvia</option>
											<option value="Lebanon" selected>Lebanon</option>
											<option value="Lesotho">Lesotho</option>
											<option value="Liberia">Liberia</option>
											<option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
											<option value="Liechtenstein">Liechtenstein</option>
											<option value="Lithuania">Lithuania</option>
											<option value="Luxembourg">Luxembourg</option>
											<option value="Macau">Macau</option>
											<option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
											<option value="Madagascar">Madagascar</option>
											<option value="Malawi">Malawi</option>
											<option value="Malaysia">Malaysia</option>
											<option value="Maldives">Maldives</option>
											<option value="Mali">Mali</option>
											<option value="Malta">Malta</option>
											<option value="Marshall Islands">Marshall Islands</option>
											<option value="Martinique">Martinique</option>
											<option value="Mauritania">Mauritania</option>
											<option value="Mauritius">Mauritius</option>
											<option value="Mayotte">Mayotte</option>
											<option value="Mexico">Mexico</option>
											<option value="Micronesia">Micronesia, Federated States of</option>
											<option value="Moldova">Moldova, Republic of</option>
											<option value="Monaco">Monaco</option>
											<option value="Mongolia">Mongolia</option>
											<option value="Montserrat">Montserrat</option>
											<option value="Morocco">Morocco</option>
											<option value="Mozambique">Mozambique</option>
											<option value="Myanmar">Myanmar</option>
											<option value="Namibia">Namibia</option>
											<option value="Nauru">Nauru</option>
											<option value="Nepal">Nepal</option>
											<option value="Netherlands">Netherlands</option>
											<option value="Netherlands Antilles">Netherlands Antilles</option>
											<option value="New Caledonia">New Caledonia</option>
											<option value="New Zealand">New Zealand</option>
											<option value="Nicaragua">Nicaragua</option>
											<option value="Niger">Niger</option>
											<option value="Nigeria">Nigeria</option>
											<option value="Niue">Niue</option>
											<option value="Norfolk Island">Norfolk Island</option>
											<option value="Northern Mariana Islands">Northern Mariana Islands</option>
											<option value="Norway">Norway</option>
											<option value="Oman">Oman</option>
											<option value="Pakistan">Pakistan</option>
											<option value="Palau">Palau</option>
											<option value="Panama">Panama</option>
											<option value="Papua New Guinea">Papua New Guinea</option>
											<option value="Paraguay">Paraguay</option>
											<option value="Peru">Peru</option>
											<option value="Philippines">Philippines</option>
											<option value="Pitcairn">Pitcairn</option>
											<option value="Poland">Poland</option>
											<option value="Portugal">Portugal</option>
											<option value="Puerto Rico">Puerto Rico</option>
											<option value="Qatar">Qatar</option>
											<option value="Reunion">Reunion</option>
											<option value="Romania">Romania</option>
											<option value="Russia">Russian Federation</option>
											<option value="Rwanda">Rwanda</option>
											<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option> 
											<option value="Saint LUCIA">Saint LUCIA</option>
											<option value="Saint Vincent">Saint Vincent and the Grenadines</option>
											<option value="Samoa">Samoa</option>
											<option value="San Marino">San Marino</option>
											<option value="Sao Tome and Principe">Sao Tome and Principe</option> 
											<option value="Saudi Arabia">Saudi Arabia</option>
											<option value="Senegal">Senegal</option>
											<option value="Seychelles">Seychelles</option>
											<option value="Sierra">Sierra Leone</option>
											<option value="Singapore">Singapore</option>
											<option value="Slovakia">Slovakia (Slovak Republic)</option>
											<option value="Slovenia">Slovenia</option>
											<option value="Solomon Islands">Solomon Islands</option>
											<option value="Somalia">Somalia</option>
											<option value="South Africa">South Africa</option>
											<option value="South Georgia">South Georgia and the South Sandwich Islands</option>
											<option value="Span">Spain</option>
											<option value="SriLanka">Sri Lanka</option>
											<option value="St. Helena">St. Helena</option>
											<option value="St. Pierre and Miguelon">St. Pierre and Miquelon</option>
											<option value="Sudan">Sudan</option>
											<option value="Suriname">Suriname</option>
											<option value="Svalbard">Svalbard and Jan Mayen Islands</option>
											<option value="Swaziland">Swaziland</option>
											<option value="Sweden">Sweden</option>
											<option value="Switzerland">Switzerland</option>
											<option value="Syria">Syrian Arab Republic</option>
											<option value="Taiwan">Taiwan, Province of China</option>
											<option value="Tajikistan">Tajikistan</option>
											<option value="Tanzania">Tanzania, United Republic of</option>
											<option value="Thailand">Thailand</option>
											<option value="Togo">Togo</option>
											<option value="Tokelau">Tokelau</option>
											<option value="Tonga">Tonga</option>
											<option value="Trinidad and Tobago">Trinidad and Tobago</option>
											<option value="Tunisia">Tunisia</option>
											<option value="Turkey">Turkey</option>
											<option value="Turkmenistan">Turkmenistan</option>
											<option value="Turks and Caicos">Turks and Caicos Islands</option>
											<option value="Tuvalu">Tuvalu</option>
											<option value="Uganda">Uganda</option>
											<option value="Ukraine">Ukraine</option>
											<option value="United Arab Emirates">United Arab Emirates</option>
											<option value="United Kingdom">United Kingdom</option>
											<option value="United States">United States</option>
											<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
											<option value="Uruguay">Uruguay</option>
											<option value="Uzbekistan">Uzbekistan</option>
											<option value="Vanuatu">Vanuatu</option>
											<option value="Venezuela">Venezuela</option>
											<option value="Vietnam">Viet Nam</option>
											<option value="Virgin Islands (British)">Virgin Islands (British)</option>
											<option value="Virgin Islands (U.S)">Virgin Islands (U.S.)</option>
											<option value="Wallis and Futana Islands">Wallis and Futuna Islands</option>
											<option value="Western Sahara">Western Sahara</option>
											<option value="Yemen">Yemen</option>
											<option value="Yugoslavia">Yugoslavia</option>
											<option value="Zambia">Zambia</option>
											<option value="Zimbabwe">Zimbabwe</option>
										</select>
									
									<br>
									
									<br><br>
									
									<label class="inputLabel">Traveller(s) type :</label><br>
										<select required id="traveler_type" class="form-control">
											<option value="-1">Select Traveller Type</option>
											<option value="1">Grouped</option>
											<option value="2">Single</option>
										</select>
										
									<br>
								<label class="inputLabel">Age Of Traveller(s)</label><br>
								<br>
								<div id="travel_grp_insurance_person_details">
								<div id="travel_grp_insurance_person_detail_row">
										<label>1 person's age</label>
										<input type="text" class="form-control" placeholder="age" name="age" id="travel_grp_insurance_age1" required data-validation-required-message="Please enter Amount.">
										
									</div>
								</div>
								<br><br>
								<a id="addMoreTravelerGrp"> Add more  </a>
								<a id="removeTravelerGrp"> Remove Row </a>
								<br>
								<br>
								<label class="inputLabel">Start Date : </label><br>
								<input type="date" class="form-control" id="startDate">
								<br>
								<label class="inputLabel">End Date : </label><br>
								<input type="date" class="form-control" id="EndDate">
								<br><br>
								<div class="control-group form-group">
									<div class="controls">
									
									<label class="inputLabel">Pesonal Details :</label>
									<br>
										<br><input type="text" class="form-control" placeholder="Enter your Name" name="name" id="name" required="" data-validation-required-message="Please enter your name.">
									
										<br><input type="email" class="form-control" placeholder="Enter your Email ID" name="email" id="email" required="" data-validation-required-message="Please enter your email address.">
									
										<br><input type="tel" class="form-control" placeholder="Enter mobile Number" name="phone" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
										
										<br><input type="text" pattern="[0-9]{5}" class="form-control" placeholder="Enter pincode" name="pincode" id="pincode" required="" data-validation-required-message="Please enter your pincode." aria-invalid="false">
										
									</div>
								</div>
								<div id="success"></div>
									<!-- For success/fail messages -->
								<button type="submit" id="submit" class="submit btn btn-primary">Submit</button>
								<div class="clearfix"></div>	
						</form>	
																							
						</div>	
                    </div>
				</div>
			
			<div class="clearfix"> </div>
		</div>
	<!-- script -->
		<script>
			$(document).ready(function() {
				$("#tab2").hide();
				$("#tab3").hide();
				$("#tab4").hide();
				$(".tabs-menu a").click(function(event){
					event.preventDefault();
					var tab=$(this).attr("href");
					$(".tab-grid").not(tab).css("display","none");
					$(tab).fadeIn("slow");
				});
			});
		</script>
                            
							
                            
            
                    
			             </div>
                       
					   <!-- /tab8 -->
                        
                       
                        
                        <!-- tab10 -->
					
                        <!-- /tab10 -->
                        
                        <!-- tab11 -->
				
                        <!-- /tab11 -->
                        
                        <!-- tab12 -->
						
                        <!-- /tab12 -->
                        
                        <!-- tab13 -->
					
                        <!-- /tab13 -->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	
	</div>
	
