
	<!-- Kisok Banking -->
	<div id="kiosk-content">
		<div class="categories-section main-grid-border" id="mobilew3layouts">
			<div class="container">
				<div class="category-list">
					<div id="parentVerticalTab">
						<div class="agileits-tab_nav">
							<ul class="resp-tabs-list hor_1">
								<li><i class="icon fa fa-mobile" aria-hidden="true"></i>SBI Kiosk</li>
								<li><i class="icon fa fa-television" aria-hidden="true"></i>BOB Kiosk</li>
								<li><i class="icon fa fa-credit-card" aria-hidden="true"></i>BOI Kiosk</li>
								<li><i class="icon fa fa-lightbulb-o" aria-hidden="true"></i>PNB Kiosk</li>
								<li><i class="icon fa fa-phone" aria-hidden="true"></i>allahabad Bank Kiosk</li>
								
								
							</ul>
						</div>
						<div class="resp-tabs-container hor_1">
						<!-- tab1 -->
							
						<div class="tabs-box">
								
									<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
										 
										<article class="headings">
										
											<h2>SBI Kiosk banking</h2>
											<p>
											SBI KIOSK Banking is a facility provided by State Bank of India wherein customers
											need not to go to the SBI branch to make different transactions.
											The customer can open account and do all transactions at SBI Kiosk Banking outlet.
											Pay2x through its partnership with State Bank of India will deliver mainstream financial
											services to the bank-excluded masses of India using remote-biometric enabled technology through
											kiosk banking. The customer can open account and do all transactions at SBI Kiosk Banking outlet
											which will provide an end-to-end process of account opening to online transaction. The transactions 
											are bio-metrically secured and a printed acknowledgment for each transaction is issued to the customer.
											</p>
										<button  id="" class="submit btn btn-primary" value="">Do Kiosk</button>
										</article>
									</div>
								
									
								<div class="clearfix"> </div>
						
						</div>
							
						<!-- /tab1 -->
						
						<!-- tab2-->
						<div class="tabs-box">
							
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
								<article class="headings">
								
										<h2>BOB Kiosk banking</h2>
									<p>
									Pay2x Solution Kiosk transactions are bio-metrically secured.
									Printed acknowledgment for each transaction is issued to the customer and
									has end-to-end process of account opening and online transactions. Micro savings
									and Micro remittances are done through No Frills Savings Bank Accounts at Samar 
									Infotech Solution CSP Kiosks.
									</p>
									<p>									
									Pay2x Solution Retailers can now be appointed as Customer Service Points
									for Business Correspondents to Bank of Baroda and carry out banking transactions 
									on behalf of BOB. Become a CSP/ Business Correspondent for Bank of Baroda Kiosk
									Banking and boost-up your earnings. This is a business opportunity to do Bank 
									of Baroda Kiosk banking in your Retail Outlet.
									</p>
								<button  id="" class="submit btn btn-primary" value="">Do Kiosk</button>
								</article>
								</div>

						</div>
						<!--/tab2-->
                        
                        <!-- tab3 -->
						<div class="tabs-box">
							
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
								<article class="headings">
								
										<h2>BOI Kiosk banking</h2>
									<p>
									Pay2x Solution Kiosk transactions are bio-metrically secured.
									Printed acknowledgment for each transaction is issued to the customer and
									has end-to-end process of account opening and online transactions. Micro savings
									and Micro remittances are done through No Frills Savings Bank Accounts at Samar 
									Infotech Solution CSP Kiosks. 
									</p>
									<p>
									Pay2x Solution Retailers can now be appointed as Customer Service Points
									for Business Correspondents to Bank of India and carry out banking transactions 
									on behalf of BOI. Become a CSP/ Business Correspondent for Bank of India Kiosk
									Banking and boost-up your earnings. This is a business opportunity to do Bank 
									of India Kiosk banking in your Retail Outlet.
									</p>
								<button  id="" class="submit btn btn-primary" value="">Do Kiosk</button>
								</article>
								</div>
						</div>				
                           
                        <!-- /tab3 -->
                        
                        <!-- tab4 -->
						
						<div class="tabs-box">
							
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
								<article class="headings">
								
									<h2>PNB Kiosk banking</h2>
									<p>
									Pay2x Solution Kiosk transactions are bio-metrically secured.
									Printed acknowledgment for each transaction is issued to the customer and
									has end-to-end process of account opening and online transactions. Micro savings
									and Micro remittances are done through No Frills Savings Bank Accounts at Samar 
									Infotech Solution CSP Kiosks.
									</p>
									<p>									
									Pay2x Solution Retailers can now be appointed as Customer Service Points
									for Business Correspondents to Punjab National Bank and carry out banking transactions 
									on behalf of PNB. Become a CSP/ Business Correspondent for Punjab National Bank Kiosk
									Banking and boost-up your earnings. This is a business opportunity to do Punjab National Bank
									Kiosk banking in your Retail Outlet.
									</p>							
								<button  id="" class="submit btn btn-primary" value="">Do Kiosk</button>
								</article>
								</div>

						</div>
						<!-- /tab4 -->
                        
                        <!-- tab5 -->
						<div class="tabs-box">
							
								<div class="grid_3 grid_4 wow fadeInLeft animated" data-wow-delay=".5s">
									 
								<article class="headings">
								
									<h2>HDFC Kiosk banking</h2
									<p>
									Pay2x Solution Kiosk transactions are bio-metrically secured.
									Printed acknowledgment for each transaction is issued to the customer and
									has end-to-end process of account opening and online transactions. Micro savings
									and Micro remittances are done through No Frills Savings Bank Accounts at Samar 
									Infotech Solution CSP Kiosks.
									</p>
									<p>									
									Pay2x Solution Retailers can now be appointed as Customer Service Points
									for Business Correspondents to HDFC and carry out banking transactions 
									on behalf of HDFC. Become a CSP/ Business Correspondent for HDFC Kiosk
									Banking and boost-up your earnings. This is a business opportunity to do HDFC
									Kiosk banking in your Retail Outlet.
									</p>
								
								<button  id="" class="submit btn btn-primary" value="">Do Kiosk</button>
								</article>
								</div>
	
						</div>
						<!-- /tab5 -->
                        
                        
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		</div>
	
	</div>
	
	