<!--Products-->


	<div id="products-content" style ="padding-bottom:60px">
	
	
			
		<div class="categories-section main-grid-border" id="mobilew3layouts">
			<div class="container">
				<div class="category-list">
					<div id="product-id" style="box-shadow: 0px 0px 5px 1px #b4b4b4; inline-size: fit-content;" >
						
						<img src="images/fid.jpg"><br>
						<span class="">INR 1000</span>
						<button id="buy1" Onclick="buyProduct('0');" class="label label-primary">Buy</button>
						
					</div>	
					
				</div>
			</div>
		</div>
		
		
			
				<!-- <div id="services-panel panel-shadow" style="box-shadow: 0px 0px 5px 1px #b4b4b4;"  >	  -->
					<!-- <div class="typrography"> -->
						<!-- <div class="grid_3 grid_5 wow fadeInRight animated" data-wow-delay=".5s" style=" padding-top:12px;padding-left:20px; padding-right:20px;">	 -->
							<!-- <h1 class="t-button"> -->
								<!-- <div id="product-id" style="box-shadow: 0px 0px 5px 1px #0e00e6; inline-size: fit-content;" > -->
									<!-- <a id=""  > -->
										<!-- <img src="images/fid.jpg"><br> -->
										<!-- <span class="">INR 1000</span> -->
										<!-- <button id="buy1" Onclick="buyProduct('0');" class="label label-primary">Buy</button> -->
									<!-- </a> -->
								<!-- </div>	 -->
							<!-- </h1>		 -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
				
				
	
		
		
	
	</div>
	
	