

  
	
	<!-- Recharge Page -->
	<div id="recharge-content">
	
		<div class="categories-section main-grid-border" id="mobilew3layouts">
			<div class="container">
				<div class="category-list">
					<div id="parentVerticalTab">
						<div class="agileits-tab_nav">
							<ul class="resp-tabs-list hor_1">
								<li><i class="icon fa fa-mobile" aria-hidden="true"></i>Mobile</li>
								<li><i class="icon fa fa-television" aria-hidden="true"></i>DTH</li>
								<li><i class="icon fa fa-credit-card" aria-hidden="true"></i>Data Card</li>
								<li><i class="icon fa fa-subway" aria-hidden="true"></i>Metro</li>
							</ul>
						</div>
						<div class="resp-tabs-container hor_1">
							<!-- tab1 -->
							<div>
								<div class="tabs-box">
									
							<img src="images/mobile.png" class="w3ls-mobile" alt="" data-pin-nopin="true">
						<ul class="tabs-menu">
							<li><a href="#tab1"><label class="radio"><input type="radio" name="radio" checked=""><i></i>Prepaid</label></a></li>
							<li><a href="#tab2"><label class="radio"><input type="radio" name="radio"><i></i>Postpaid</label></a></li>
						</ul>
						 <div class="clearfix"> </div>
						 <div class="tab-grids">
							<div id="tab1" class="tab-grid">  
								  <div class="login-form">	
							<form action="php/recharge_server.php" method="post" id="signup">
							<input type="hidden" name="service_name" value="mob_pre"/>
							<ol>
								<li>
									<h4>Enter your mobile number</h4>
									<input type="tel" class="form-control" id="tel" name="number" pattern="\d{10}" placeholder="Enter Mobile Number" required="required" />
									<p class="validation01">
										<span class="invalid">Please enter a valid mobile number</span>
										<span class="valid">That's what we wanted!</span>
									</p>
								</li>
								<li>
									<div class="agileits-select">
									<select class="selectpicker show-tick form-control" name="operator" data-live-search="true" required="required" >
									  <option data-tokens="Select Operator">Select Operator</option>
									  <option data-tokens="Airtel">Airtel</option>
									  <option data-tokens="Aircel">Aircel</option>
									  <option data-tokens="BSNL">BSNL</option>
									  <option data-tokens="Tata Docomo">Tata Docomo</option>
									  <option data-tokens="Reliance GSM">Reliance GSM</option>
									  <option data-tokens="Reliance CDMA">Reliance CDMA</option>
									  <option data-tokens="Telenor">Telenor</option>
									  <option data-tokens="Jio">Jio</option>
									  <option data-tokens="Vodafone">Vodafone</option>
									  <option data-tokens="Idea">Idea</option>
									  <option data-tokens="MTS">MTS</option>
									</select>
									</div>
								</li>
								<li>
									<div class="agileits-select">
									<select class="selectpicker show-tick form-control" name="circle" data-live-search="true" required="required" >
									  <option data-tokens="Select Circle">Select Circle</option>
									  <option data-tokens="Chennai">Chennai</option>
									  <option data-tokens="Delhi NCR">Delhi NCR</option>
									  <option data-tokens="Kolkata">Kolkata</option>
									  <option data-tokens="Mumbai">Mumbai</option>
									  <option data-tokens="Maharashtra & Goa">Maharashtra & Goa</option>
									  <option data-tokens="Assam">Assam</option>
									  <option data-tokens="Bihar & Jharkhand">Bihar & Jharkhand</option>
									  <option data-tokens="Gujarat">Gujarat</option>
									  <option data-tokens="Haryana">Haryana</option>
									  <option data-tokens="Himachal Pradesh">Himachal Pradesh</option>
									  <option data-tokens="Jummu & Kashmir">Jummu & Kashmir</option>
									  <option data-tokens="Karnataka">Karnataka</option>
									  <option data-tokens="Kerala">Kerala</option>
									  <option data-tokens="Andhra Pradesh">Andhra Pradesh</option>
									  <option data-tokens="MP & Chattisgarh">MP & Chattisgarh</option>
									  <option data-tokens="North East">North East</option>
									  <option data-tokens="Orissa">Orissa</option>
									  <option data-tokens="Punjab">Punjab</option>
									  <option data-tokens="Rajasthan">Rajasthan</option>
									  <option data-tokens="Tamilnadu">Tamilnadu</option>
									  <option data-tokens="UP East">UP East</option>
									  <option data-tokens="UP West & Utterkhand">UP West & Utterkhand</option>
									  <option data-tokens="West Bengal">West Bengal</option>
									</select>
									</div>
								</li>
								<li>
									<div class="mobile-right ">
										<h4>How Much To Recharge?</h4>
										<div class="mobile-rchge">
											<input type="text" class="form-control" id="amount" placeholder="Enter amount" name="amount" required="required"  />	
										</div>
										<div class="mobile-rchge">
											<a href="plans.html">VIEW ALL PLANS</a>
										</div>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<input type="submit" class="submit" value="Recharge Now" />
								</li>
							</ol>
							</form>	
																								
							</div>	

						</div>
						<div id="tab2" class="tab-grid">
								  <div class="login-form">
							<form action="php/recharge_server.php" method="post" id="signup">
							<input type="hidden" name="service_name" value="mob_post"/>
							<ol>						
								<li>
									<h4>Enter your mobile number</h4>
									<input type="tel" id="tel" class="form-control" name="number"  pattern="\d{10}" placeholder="Enter Mobile Number" required />
									<p class="validation01">
										<span class="invalid">Please enter a valid mobile number</span>
										<span class="valid">That's what we wanted!</span>
									</p>
								</li>
								<li>
									<div class="agileits-select">
									<select class="selectpicker show-tick form-control" name="operator" data-live-search="true">
									  <option data-tokens="Select Operator">Select Operator</option>
									  <option data-tokens="Airtel">Airtel</option>
									  <option data-tokens="Aircel">Aircel</option>
									  <option data-tokens="BSNL">BSNL</option>
									  <option data-tokens="Tata Docomo">Tata Docomo</option>
									  <option data-tokens="Reliance GSM">Reliance GSM</option>
									  <option data-tokens="Reliance CDMA">Reliance CDMA</option>
									  <option data-tokens="Telenor">Telenor</option>
									  <option data-tokens="Jio">Jio</option>
									  <option data-tokens="Vodafone">Vodafone</option>
									  <option data-tokens="Idea">Idea</option>
									  <option data-tokens="MTS">MTS</option>
									</select>
									</div>
								</li>
								<li>
									<div class="agileits-select">
									<select class="selectpicker show-tick form-control" name="circle" data-live-search="true" required="required" >
									  <option data-tokens="Select Circle">Select Circle</option>
									  <option data-tokens="Chennai">Chennai</option>
									  <option data-tokens="Delhi NCR">Delhi NCR</option>
									  <option data-tokens="Kolkata">Kolkata</option>
									  <option data-tokens="Mumbai">Mumbai</option>
									  <option data-tokens="Maharashtra & Goa">Maharashtra & Goa</option>
									  <option data-tokens="Assam">Assam</option>
									  <option data-tokens="Bihar & Jharkhand">Bihar & Jharkhand</option>
									  <option data-tokens="Gujarat">Gujarat</option>
									  <option data-tokens="Haryana">Haryana</option>
									  <option data-tokens="Himachal Pradesh">Himachal Pradesh</option>
									  <option data-tokens="Jummu & Kashmir">Jummu & Kashmir</option>
									  <option data-tokens="Karnataka">Karnataka</option>
									  <option data-tokens="Kerala">Kerala</option>
									  <option data-tokens="Andhra Pradesh">Andhra Pradesh</option>
									  <option data-tokens="MP & Chattisgarh">MP & Chattisgarh</option>
									  <option data-tokens="North East">North East</option>
									  <option data-tokens="Orissa">Orissa</option>
									  <option data-tokens="Punjab">Punjab</option>
									  <option data-tokens="Rajasthan">Rajasthan</option>
									  <option data-tokens="Tamilnadu">Tamilnadu</option>
									  <option data-tokens="UP East">UP East</option>
									  <option data-tokens="UP West & Utterkhand">UP West & Utterkhand</option>
									  <option data-tokens="West Bengal">West Bengal</option>
									</select>
									</div>
								</li>
								<li>
									<div class="mobile-right ">
										<h4>How Much To Pay?</h4>
										<div class="mobile-rchge">
											<input type="text" id="amount" class="form-control" placeholder="Enter amount" name="amount" required="required"  />
										</div>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<input type="submit" class="submit" value="Pay bill" />
								</li>
							</ol>
							</form>	
																								
							</div>	
						</div>
					</div>
				
				<div class="clearfix"> </div>
			</div>
		<!-- script -->
			<script>
				$(document).ready(function() {
					$("#tab2").hide();
					$("#tab3").hide();
					$("#tab4").hide();
					$(".tabs-menu a").click(function(event){
						event.preventDefault();
						var tab=$(this).attr("href");
						$(".tab-grid").not(tab).css("display","none");
						$(tab).fadeIn("slow");
					});
				});
			</script>
								
								
								
				
						
							 </div>
							<!-- /tab1 -->
							
							<!-- tab2 -->
							<div>
								
							<div class="login-form">
							<i class="icon fa fa-television inner-icon" aria-hidden="true"></i>
							<form action="php/recharge_server.php" method="post" id="signup">
							<input type="hidden" name="service_name" value="dth"/>   
							<ol>
								<li>
									<h4>Enter your DTH number</h4>
									<input type="text" id="customer" class="form-control" name="number" value="Enter Customer ID" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Customer ID';}" required="">	
								</li>							
								<li>
									<div class="agileits-select">
									<select class="selectpicker show-tick form-control" name="operator" data-live-search="true">
									  <option data-tokens="Select Operator">DTH Operator</option>
									  <option data-tokens="Airtel">Airtel</option>
									  <option data-tokens="Aircel">Aircel</option>
									  <option data-tokens="BSNL">BSNL</option>
									  <option data-tokens="Tata Docomo">Tata Docomo</option>
									  <option data-tokens="Reliance GSM">Reliance GSM</option>
									  <option data-tokens="Reliance CDMA">Reliance CDMA</option>
									  <option data-tokens="Telenor">Telenor</option>
									  <option data-tokens="Jio">Jio</option>
									  <option data-tokens="Vodafone">Vodafone</option>
									  <option data-tokens="Idea">Idea</option>
									  <option data-tokens="MTS">MTS</option>
									</select>
									</div>
								</li>
							   
								<li>
									<div class="mobile-right ">
										<div class="mobile-rchge">
											<input type="text" class="form-control" placeholder="Enter amount" name="amount" required="required"  />
										</div>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<input type="submit" class="submit" value="Recharge Now" />
								</li>
							</ol>
							</form>	
																								
							</div>	
							</div>
							<!-- /tab2 -->
							
							<!-- tab3 -->
							<div>
								<i class="icon fa fa-credit-card inner-icon" aria-hidden="true"></i>
								<div id="tab2" class="tab-grid">
									  <div class="login-form">
									<form action="php/recharge_server.php" method="post" id="signup">
								<ol>
									<li>
										<input type="hidden" name="service_name" class="form-control" value="datacard"/>
									</li>							
									<li>
										  <h4>Enter your Datacard number</h4>
										<input type="tel" id="tel" name="number" class="form-control" pattern="\d{10}" placeholder="Enter Datacard Number" required />
										<p class="validation01">
											<span class="invalid">Please enter a valid 10 digit Datacard number</span>
											<span class="valid">That's what we wanted!</span>
										</p>
									</li>
									<li>
										<div class="agileits-select">
										<select class="selectpicker show-tick form-control" name="operator" data-live-search="true">
										  <option data-tokens="Select Operator">Select Operator</option>
										  <option data-tokens="Operator1">Operator1</option>
										  <option data-tokens="Operator2">Operator2</option>
										  <option data-tokens="Operator3">Operator3</option>
										  <option data-tokens="Operator4">Operator4</option>
										  <option data-tokens="Operator5">Operator5</option>
										  <option data-tokens="Operator6">Operator6</option>
										</select>
										</div>
									</li>
									<li>
										<div class="mobile-right ">
											<h4>How Much To Pay?</h4>
											<div class="mobile-rchge">
											   <input type="text" class="form-control" placeholder="Enter amount" name="amount" required="required"  />
											</div>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<input type="submit" class="submit" value="Recharge Now" />
									</li>
								</ol>
								</form>	
																									
								</div>	

							</div>
							</div>
							<!-- /tab3 -->
							
							
							
							<!-- tab9 -->
							
							<div>
								<i class="icon fa fa-subway inner-icon" aria-hidden="true"></i>
						<div id="tab2" class="tab-grid">
								  <div class="login-form">
							<form action="pay.html" method="post" id="signup">
							<ol>	
								<li>
									<div class="agileits-select">
									<select class="selectpicker show-tick form-control" data-live-search="true">
									  <option data-tokens="Select Operator">Select Operator</option>
									  <option data-tokens="Operator1">Operator1</option>
									  <option data-tokens="Operator2">Operator2</option>
									  <option data-tokens="Operator3">Operator3</option>
									</select>
									</div>
								</li>
								<li>
								  <input type="text" id="customer" class="form-control" value="Enter Metro Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Metro Number';}" required="">	
								</li>
								
								<li>
									<input type="submit" class="submit" value="Proceed" />
								</li>
							</ol>
							</form>	
																								
							</div>	
							</div>
							</div>
						   
							<!-- /tab9 -->
							
							<!-- tab10 -->
						
							<!-- /tab10 -->
							
							<!-- tab11 -->
					
							<!-- /tab11 -->
							
							<!-- tab12 -->
							
							<!-- /tab12 -->
							
							<!-- tab13 -->
						
							<!-- /tab13 -->
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
