
	<!-- Money Remittance -->
			
	<div id="remittance-content">
		<div class="categories-section main-grid-border" id="mobilew3layouts">
			<div class="container">
				
					<label>Remittance service is under upgradation, Please try later</label>
				
			</div>
		</div>
	</div>


											
	
	
	
	
	

